/**
 * countdown
 */

#hiddenCountDown {
    display: none
}

.countdown {
    margin: 0 auto;
    max-width: 1064px
}

.countdown ul {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px
}

.countdown ul li {
    width: 266px;
    height: 256px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: #000000;
    text-align: center;
    background-image: url(../images/tyre-ohne-shadow.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 40px 40px 0 rgba(0,0,0,.6);
    border-radius: 50%;
    position: relative
}

.countdown ul li>div.days,.countdown ul li>div.hours,.countdown ul li>div.minutes,.countdown ul li>div.seconds {
    font-size: 80px;
    line-height: 1;
    margin-top: 79px
}

.countdown ul li>div.days span,.countdown ul li>div.hours span,.countdown ul li>div.minutes span,.countdown ul li>div.seconds span {
    line-height: 1;
    text-align: center;
    display: block;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase
}

.countdown ul li>div.days-progress,.countdown ul li>div.hours-progress,.countdown ul li>div.minutes-progress,.countdown ul li>div.seconds-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 23px
}

/**
 * countdown media queries
 */

@media screen and (max-width: 1280px) {
    .countdown ul {
        -webkit-justify-content:center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px
    }

    .countdown ul li {
        width: 150px;
        height: 150px;
        margin-bottom: 30px
    }

    .countdown ul li>div.days,.countdown ul li>div.hours,.countdown ul li>div.minutes,.countdown ul li>div.seconds {
        font-size: 43px;
        line-height: 1;
        margin-top: 48.5px
    }

    .countdown ul li>div.days span,.countdown ul li>div.hours span,.countdown ul li>div.minutes span,.countdown ul li>div.seconds span {
        line-height: 1;
        text-align: center;
        display: block;
        font-size: 10px;
        letter-spacing: 3px;
        text-transform: uppercase
    }

    .countdown ul li>div.days-progress,.countdown ul li>div.hours-progress,.countdown ul li>div.minutes-progress,.countdown ul li>div.seconds-progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;
        padding: 14px
    }
}

@media screen and (max-width: 750px) {
    .countdown ul {
        margin-bottom: 10px
    }

    .countdown ul li {
        width: 130px;
        height: 130px
    }

    .countdown ul li>div.days,.countdown ul li>div.hours,.countdown ul li>div.minutes,.countdown ul li>div.seconds {
        font-size: 37px;
        margin-top: 42.5px
    }

    .countdown ul li>div.days span,.countdown ul li>div.hours span,.countdown ul li>div.minutes span,.countdown ul li>div.seconds span {
        font-size: 8px
    }

    .countdown ul li>div.days-progress,.countdown ul li>div.hours-progress,.countdown ul li>div.minutes-progress,.countdown ul li>div.seconds-progress {
        padding: 14px
    }
}

@media screen and (max-width: 650px) {
    .countdown ul li {
        width:110px;
        height: 110px
    }

    .countdown ul li>div.days,.countdown ul li>div.hours,.countdown ul li>div.minutes,.countdown ul li>div.seconds {
        font-size: 32px;
        margin-top: 35.5px
    }

    .countdown ul li>div.days span,.countdown ul li>div.hours span,.countdown ul li>div.minutes span,.countdown ul li>div.seconds span {
        font-size: 7px
    }

    .countdown ul li>div.days-progress,.countdown ul li>div.hours-progress,.countdown ul li>div.minutes-progress,.countdown ul li>div.seconds-progress {
        padding: 14px
    }
}

@media screen and (max-width: 560px) {
    .countdown ul li {
        width: 130px;
        height: 130px
    }

    .countdown ul li>div.days,.countdown ul li>div.hours,.countdown ul li>div.minutes,.countdown ul li>div.seconds {
        margin-top: 42.5px
    }

    .countdown ul li>div.days span,.countdown ul li>div.hours span,.countdown ul li>div.minutes span,.countdown ul li>div.seconds span {
        font-size: 8px
    }

    .countdown ul li>div.days-progress,.countdown ul li>div.hours-progress,.countdown ul li>div.minutes-progress,.countdown ul li>div.seconds-progress {
        padding: 14px
    }
}
