---
layout: default
title: titles.blog
---

<article id="main">
    <header class="special container">
        <span class="icon fa-envelope-o"></span>
        <h2><strong>Blog</strong></h2>

        {% if site.lang == "it" %}
        <p>
            Rimani aggiornato su gli ultimi ritrovati tecnologici in casa Race UP..
        </p>
        {% elsif site.lang == "en" %}
        <p>
            Stay up to date on the latest technology in Race UP home ..
        </p>
        {% endif %}
    </header>
    
    <section class="wrapper style4 container">
        <ul class="posts">
          {% for post in site.posts %}
            <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
              <h2><a href="{{ post.url }}.html">{% t post.title %}</a></h2>
              <h4>{{ post.date | date: '%B %d, %Y' }}</h4>
                {{ post.excerpt }}

                {% if site.lang == "it" %}
                <section class="special">
                    <ul class="buttons">
                        <li><a href="{{ post.url }}.html" class="button">Leggi tutto</a></li>
                    </ul>
                </section>
                {% elsif site.lang == "en" %}
                <section class="special">
                    <ul class="buttons">
                        <li><a href="{{ post.url }}.html" class="button">Read more</a></li>
                    </ul>
                </section>
                {% endif %}
            </li>
          {% endfor %}
        </ul>
    </section>


    <header class="special container">
        <span class="icon fa-comments"></span>
        <h2><strong>Dicono di noi</strong></h2>
    </header>

    <section class="wrapper style4 container">
        <h3>Varano 2017</h3>
        <ul class="posts">
            <li><a href="data/stampa/varano/Avvenire 6-09-2017.PDF">Avvenire (6 Settembre)</a></li>
            <li><a href="data/stampa/varano/Ansa 24-07-2017.pdf">Ansa (24 Luglio)</a></li>
            <li><a href="data/stampa/varano/La Repubblica 24-07-2017.pdf">La Repubblica (24 Luglio)</a></li>
            <li><a href="data/stampa/varano/Ansa 23-07-2017.PDF">Ansa (23 Luglio)</a></li>
            <li><a href="data/stampa/varano/Formula Passion 23-07-2017.PDF">Formula Passion (23 Luglio)</a></li>
            <li><a href="data/stampa/varano/Sorma 17-07-2017.pdf">Sorma (17 Luglio)</a></li>
        </ul>
    </section>

    <section class="wrapper style4 container">
        <h3>ZF race camp 2017</h3>
        <ul class="posts">
            <li><a href="https://www.zf.com/corporate/en_de/press/list/release/release_33346.html">ZF (2 Giugno)</a></li>
        </ul>
    </section>

    <section class="wrapper style4 container">
        <h3>Presentazione monoposto</h3>
        <ul class="posts">
            <li><a href="data/stampa/presentazione/Corriere_del_Veneto_11-05-2017.PDF">Corriere del Veneto (11 Maggio)</a></li>
            <li><a href="data/stampa/presentazione/Il_Mattino_11-05-2017.PDF">Il Mattino (11 Maggio)</a></li>
            <li><a href="data/stampa/presentazione/Il_Mattino_11-05-2017_Articolo_2.PDF">Il Mattino bis (11 Maggio)</a></li>
            <li><a href="data/stampa/presentazione/Il_Gazzettino_11-05-2017.PDF">Il Gazzettino (11 Maggio)</a></li>
            <li><a href="data/stampa/presentazione/Il_Mattino_9-05-2017.PDF">Il Mattino (9 Maggio)</a></li>
        </ul>
    </section>
</article>