---
layout: default
title: titles.careers
---
<article id="main">
<header class="special container">
<span class="icon fa-briefcase"></span>
<h2>
{% if site.lang == "it" %}Posizioni aperte {% elsif site.lang == "en" %}Open positions {% endif %}
</h2>
</header>
<section class="wrapper style3 container">
<h2 id="countdown">
{% if site.lang == "it" %}Puoi iscriverti fino al Oct 14, 2017 12:00:00 {% elsif site.lang == "en" %}Recruitment ends Oct 14, 2017 12:00:00 {% endif %}
</h2>
<div id="careers">
<p>
{% if site.lang == "it" %}Trova la tua prossima opportunità di carriera in Race Up. Unisciti a noi nella nostra missione di creare macchine da corsa. Se sei interessato al mondo racing e automotive, Race Up offre un'ampia offerta con la sola posizione per te.
<br>Cosa stai aspettando?
<br>
<strong>Il Race Up Team fa per te!</strong> {% elsif site.lang == "en" %}Find your next career opportunity in Race Up. Join us in our mission of creating racing cars. If you are interested in the racing and automotive world, Race Up offers a wide-ranging offer with only one position for you.
<br>What are you waiting for?
<br>
<strong>Race Up Team is all you need!</strong> {% endif %}
</p>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Business-&-Marketing"><strong>Web & social media manager</strong></a> : 1 {% t global.slot %}<a href="https://drive.google.com/open?id=1JG5UwH29FFuWek_14UHDZ59k9HfJgMejZN6kTWCjQCY" class="button extrasmall">Apply</a></li>
</ul>
<br>
<br>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Business-&-Marketing"><strong>Graphics</strong></a> : 1 {% t global.slot %}<a href="https://drive.google.com/open?id=1JG5UwH29FFuWek_14UHDZ59k9HfJgMejZN6kTWCjQCY" class="button extrasmall">Apply</a></li>
</ul>
<br>
<br>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Business-&-Marketing"><strong>Business & Administration</strong></a> : 3 {% t global.slots %}<a href="https://drive.google.com/open?id=1JG5UwH29FFuWek_14UHDZ59k9HfJgMejZN6kTWCjQCY" class="button extrasmall">Apply</a></li>
</ul>
<br>
<br>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Elettronica"><strong>Electronics</strong></a> : 5 {% t global.slots %}<a href="https://drive.google.com/open?id=1FwQEmFSd_ZSr4QVIcGm4EAyr05Jfijy1btkNZQhnrrE" class="button extrasmall">Apply</a></li>
</ul>
<br>
<br>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Sospensioni-e-Freni"><strong>Vehicle dynamics</strong></a> : 1 slot (electric division)<a href="https://drive.google.com/open?id=1suAuc0ebTRw85yEJTE4dKyoQO9rishtl5hneq91fiV0" class="button extrasmall">Apply</a></li>
</ul>
<br>
<br>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Aerodinamica"><strong>Aerodynamics</strong></a> : 6 {% t global.slots %}<a href="https://drive.google.com/open?id=1IZ1uIfsSIXPI3rFWnYoe8Ir8EI__gjmI__r1UI0V1GE" class="button extrasmall">Apply</a></li>
</ul>
<br>
<br>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Telaio"><strong>Frame</strong></a> : 7 {% t global.slots %}<a href="https://drive.google.com/open?id=1RjcyJok8L82WlsEbrjbXElmQqMGXMXC4X-Xl4I-8st0" class="button extrasmall">Apply</a></li>
</ul>
<br>
<br>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Powertrain"><strong>Powertrain</strong></a> : 3 {% t global.slots %}(electric division)<a href="https://drive.google.com/open?id=1_UoDqNwZeO_nNF9TJ9GzrE_RaeTLVK0bfU-O2rNw3TE" class="button extrasmall">Apply</a></li>
</ul>
<br>
<br>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Sospensioni-e-Freni"><strong>Suspensions</strong></a> : 4 {% t global.slots %}<a href="https://drive.google.com/open?id=1HiwqdKaxoicSB4JZ0zrtSQUgbKxvVNAQQg_syjDbzZc" class="button extrasmall">Apply</a></li>
</ul>
<br>
<br>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Sospensioni-e-Freni"><strong>Brakes</strong></a> : 2 {% t global.slots %}<a href="https://drive.google.com/open?id=162R-M8-CbvtYsS7bs0CICCltfrWbJSKuwA9jNls3XBk" class="button extrasmall">Apply</a></li>
</ul>
<br>
<br>
<ul>
<li><a href="{{ site.baseurl }}/team/members.html#Motore-e-Propulsione"><strong>Engine</strong></a> : 2 {% t global.slots %}(combustion division)<a href="https://drive.google.com/open?id=1bKIbRhrE1TmT9ZFJLy4w6bqpexAfaQ1sHihxYNAI1Q8" class="button extrasmall">Apply</a></li>
</ul>
</div>
</section>
</article>
<script src="/js/countdown.js"></script>