---
layout: landing-page
title: titles.home
---
<div id="main">
    <section class="wrapper style3 container">
        <h2>Race Up team</h2>
        <p>
            {% if site.lang == "it" %}Race Up è il team di Formula SAE
            dell’Università di Padova. Ogni anno ci poniamo l’ambizioso
            obiettivo di concepire e produrre da zero una vettura che possa
            competere con quelle provenienti dalle migliori Università di tutto
            il mondo in questo contest automobilistico di livello
            internazionale. Grazie alla natura di questo progetto e al nostro
            approccio al lavoro, ridefiniamo il concetto stesso di formazione
            universitaria. Nella nostra storia abbiamo ottenuto numerosi e
            importanti riconoscimenti, riuscendo a garantire eccellente
            visibilità ai nostri sponsor e bilanciando le loro esigenze con
            professionalità. {% elsif site.lang == "en" %}Race Up is the Formula
            SAE Team of the University of Padova. Every year we set the
            ambitious goal of conceiving and producing from scratch a car that
            can compete against those from the best Universities around the
            world in this international competitive automotive contest. Thanks
            to the nature of this project and our approach to work, we redefine
            the very concept of university education. In our history, we have
            gained many important awards, guaranteeing excellent visibility to
            our sponsors and balancing their needs with professionalism. {%
            endif %}
        </p>
    </section>

    <section class="wrapper style2 container special-alt">
        <div class="row half">
            <div>
                <header>
                    <h2><strong>University of Padova</strong></h2>
                </header>
                <p>
                    {% if site.lang == "it" %}"Universa universis patavina
                    libertas", questo il motto che caratterizza da sempre
                    l'Università di Padova, riconosciuta per l'apertura
                    culturale e la libertà di espressione che spinse secoli fa
                    un gruppo di studenti e docenti a lasciare l'Università di
                    Bologna per Padova, e che accomuna gli studenti patavini
                    anche oggi; tali fattori convergono anche in Race Up, che
                    contribuisce a rendere l'Università di Padova un punto di
                    riferimento per l'eccellenza nella formazione e negli studi
                    di ricerca a livello internazionale. {% elsif site.lang ==
                    "en" %}"Universa universis patavina libertas", this is the
                    motto that has always characterized the University of
                    Padova, recognized for the cultural opening and the freedom
                    of expression that induced ,in 1222, a group of students and
                    teachers to leave the University of Bologna for Padova.
                    These factors can be seen in Race Up, that contributes to
                    make the University of Padova a benchmark for excellence in
                    international training and research studies.{% endif %}
                </p>
            </div>
        </div>
    </section>
</div>
<div id="cta">
    <footer>
        <ul class="buttons">
            {% include download_brochure.html %}
            <li><a href="{{ site.baseurl }}/contact.html"
                   class="button special">{% t global.contact %}!</a></li>
        </ul>
    </footer>
</div>
{% include donate.html %}