---
layout: default
title: titles.join
---

<article id="main">
    <header class="special container">
        <span class="icon fa-briefcase"></span>
        <h2>
            {% if site.lang == "it" %}
            Posizioni aperte
            {% elsif site.lang == "en" %}
            Open positions
            {% endif %}
        </h2>
    </header>
    <section class="wrapper style3 container">
        <h2 id="countdown_0">
            {% if site.lang == "it" %}
            Le nuove candidature apriranno a Settembre 2018. Resta aggiornato!
            {% elsif site.lang == "en" %}
            Applications will re-start in September 2018. Stay up to date!
            {% endif %}
        </h2>

        {% include careers.html %}
    </section>

    {% tf join.html %}
</article>

<script src="/js/flickity.pkgd.js"></script>
<script src="/js/countdown.js"></script>
<link rel="stylesheet" href="/css/flickity.min.css">