---
layout: default
title: titles.join
---
<link rel="stylesheet" href="/css/collaps.css">
<article id="main">

    <header class="special container">
        <span class="icon fa-briefcase"></span>
        <h2>
            {% if site.lang == "it" %}
            Posizioni aperte
            {% elsif site.lang == "en" %}
            Open positions
            {% endif %}
        </h2>
    </header>
    <div class="wrapper style4 special container small" align="center">
         <ul class="buttons">
            {% include join_us.html %}
        </ul> 
        <div id="contact-info">
            {% if site.lang == "it" %}
            Affrettati le candidature chiuderanno tra:
            <!--Le candidature sono chiuse-->
            {% elsif site.lang == "en" %}
            Open until:
            <!--Positions are closed-->
            {% endif %}
            <h2 id="countdown_1"></h2>
        </div>
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/ojgya3DMit4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        <ul class="buttons">
            {% include download_brochure_recruitment.html %}
        </ul>
        <div id="contact-info"> 
            Dopo aver compilato il form, <strong>ricordati di spedire il tuo CV</strong>, completo di Foto ed eventuali certificazioni e in formato PDF, rinominato secondo la forma: <b>DIVISIONE_REPARTO_COGNOME_NOME_CV.PDF</b> riportando prima del cognome la sigla ED se la candidatura è pertinente alla divisione elettrica, CD se la candidatura è pertinente alla divisione combustion o IND se indifferente (es. ED_POWERTRAIN_ROSSI_MARIO_CV), al seguente indirizzo: <b>info@raceup.it</b>
        </div>
    </div>

    <section class="wrapper style3 container">
        <header class="special-title">
            <h2>Reparti del Team</h2>
        </header>
        <div class="row" align="center" >
            <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
            <button class="collapsible" align="center">Business & Marketing</button>
            <div class="content">
                {% if site.lang == "it" %}
                <p>Il reparto Business & Marketing è l’unico reparto trasversale alle due divisioni e riveste tre ruoli principali all’interno del team.<br>
                    Il primo ruolo è di <b>gestione e organizzazione</b> della squadra. Ruolo che si declina principalmente nella gestione degli acquisti del team, nella supervisione sull’utilizzo dei fondi, nel mantenimento dei rapporto università-team e nell’organizzazione logistica degli eventi.<br>
                    Il secondo ruolo è la <b>preparazione di due degli eventi statici</b> di cui si compone una gara di FSAE: “Business Plan” e “Cost Understanding”.
                    La preparazione di questi documenti richiede di produrre analisi economico-finanziarie, analisi di budget, analisi make or buy e analisi di cost understanding.<br>
                    Il terzo ruolo è la <b>gestione social e marketing del team</b>. Il reparto si occupa infatti di gestione sponsor, gestione dei social media e della produzione multimediale del team.<br>
                    I corsi di studio maggiormente idonei a questo reparto sono: economia, ingegneria gestionale, scienze della comunicazione e indirizzi affini.<br><br>
                    
                    Entrare a far parte del reparto Business & Marketing significa mettere in pratica molti degli studi teorici imparati a lezione di ambito economico/gestionale/comunicativo.<br>
                    Gli studenti del reparto sviluppano sia hard skills specifiche che soft skills quali il lavoro di squadra e il problem solving, competenze molto richieste nel mondo del lavoro.<br>
                    Il reparto si coordina quotidianamente con tutti gli altri organi della squadra. All’interno del reparto è quindi possibile avere una visione d’insieme rispetto all’organizzazione di una squadra di <b>80 persone</b>.<br>
                    Come tutti i reparti del team può essere un’ottimo trampolino di lancio per lavorare nel mondo automobilistico e del motorsport.</p>
                    <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
                        <a href="/images/join/biz1.JPG">
                            <img src="/images/join/biz1.JPG">
                        </a>
                        <a href="/images/join/biz2.JPG">
                            <img src="/images/join/biz2.JPG">
                        </a>
                    </div>
                    {% elsif site.lang == "en" %}
                <p></p>{% endif %}
            </div>
            </section>
        </div>
        <div class="row">
            <div class="6u">
                <h1>Divisione Combustion</h1>
                <div class="row" style="text-align:center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                        <button class="collapsible">Aerodynamics</button>
                        <div class="content">
                            {% if site.lang == "it" %}
                            <p>
                                Il reparto aerodynamics progetta e realizza interamente il pacchetto aerodinamico della vettura mediante l'utilizzo di materiali compositi ad alte prestazioni.<br>
                                La ricerca del massimo carico verticale permette al veicolo di migliorare le massime accelerazioni laterali e longitudinali possibili, grazie alla deportanza generata; si sviluppa inoltre un sistema DRS.<br>
                                La progettazione si avvale di software di CAD e simulazioni fluidodinamica computazionale.
                                Si procede infine con una validazione del pacchetto realizzato mediante test in pista grazie alla sensoristica.<br><br>
                                Lo sviluppo di un pacchetto aerodinamico è essenziale per le performance della vettura, migliorandone le prestazioni in accelerazione, frenata e curva.<br>
                                L'elevata competitività dei campionati di Formula Student incentiva costantemente gli studenti a progettare soluzioni efficaci e ricercare la massima performance.<br>
                                Questo percorso porta lo studente a comprendere l'intero percorso ingegneristico, a partire dalla progettazione di un pezzo, la sua realizzazione e implementazione sul veicolo, senza trascurare aspetti quali la validazione e verifica dei dati teorici.
                            </p>
                            <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
                                <a href="/images/join/cd_aero2.jpeg">
                                    <img src="/images/join/cd_aero2.jpeg">
                                </a>
                                <a href="/images/join/cd_aero1.jpeg">
                                    <img src="/images/join/cd_aero1.jpeg">
                                </a>
                            </div>
                            {% elsif site.lang == "en" %}
                            <p></p>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                    <button class="collapsible" >Electronics</button>
                    <div class="content">
                        {% if site.lang == "it" %}
                        <p>Il reparto elettronica prepara e e sviluppa le schede elettroniche e si occupa della stagnatura delle stesse. Inoltre, gestisce la telemetria e lettura tramite centralina dei dati emessi dai sensori precedentemente collaudati.  <br>
                            Altro compito fondamentale è quello della progettazione del cablaggio a bassa tensione per una vettura di Formula Student, insieme alla programmazione e gestione del display per la lettura dei dati da parte del pilota e degli altri reparti.
                            Si occupa inoltre anche della gestione delle comunicazioni radio tra pilota e team. <br>
                            Lavorare in questo reparto ti consente di applicare in maniera pratica quanto appreso dalle materie universitarie, soprattutto elettronica e programmazione, visto che si occupa anche della stesura del codice della centralina.</p>
                            <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }' class="center" >
                                <a href="/images/join/cd_el1.png">
                                    <img src="/images/join/cd_el1.png">
                                </a>
                            </div>
                            {% elsif site.lang == "en" %}
                        <p></p>
                        {% endif %}
                    </div>
                    </section>
                </div>
                
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                        <button class="collapsible">Chassis & Ergonomics</button>
                        <div class="content">
                            {% if site.lang == "it" %}
                            <p>
                                Il reparto chassis and ergonomics è principalmente coinvolto nella progettazione e realizzazione dell’intero telaio, composto da monoscocca e traliccio posteriore, con relativi test in laboratorio per verifiche strutturali e validazione delle simulazioni. <br>
                                Inoltre si occupa dei componenti ergonomici e di sicurezza del pilota e gestiamo anche i vari metodi di collegamento degli altri reparti al telaio. <br>
                                Molto importante è anche curare l’aspetto produttivo adottando misure di design per manufacturing e assembly, fondamentali per avere un buon prodotto finale e garantire i tempi di realizzazione prestabiliti.
                            </p>
                                
                            <h1>OBIETTIVI</h1>
                            <p>
                                L'obiettivo principale che il reparto si pone è quello di produrre una struttura che soddisfi in termini di ergonomia le necessità dei piloti garantendone la sicurezza, oltre che aumentare la performance garantendo i target di rigidezza, resistenza e di massa.
                                Per raggiungere tali obbiettivi si sviluppano modelli analitici e numerici (FEM) che vengono poi validati e confrontati con test di laboratorio.<br><br>
                                Entrando a far parte del reparto telaio si impara a conoscere come progettare componenti utilizzando i materiali più classici come acciaio e leghe leggere ma anche quelli più innovativi come la fibra di carbonio che attualmente impieghiamo per realizzare la parte in monoscocca, le strutture aerodinamiche, il volante ed il sedile della vettura. <br>
                                Si approfondiscono conoscenze apprese all'università (meccanica dei solidi, costruzione di macchine, digital manufacturing, materiali metallici e non metallici, ecc.) e soprattutto si potranno imparare i principi fondamentali per la produzione di una vettura.
                                Inoltre ti interfaccerai con le importanti aziende del settore, preparandoti al meglio per entrare nel mondo del lavoro.
                            </p>
                            <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
                                <a href="/images/join/cd_chassis1.jpg">
                                    <img src="/images/join/cd_chassis1.jpg">
                                </a>
                            </div>
                            {% elsif site.lang == "en" %}
                            <p></p>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                        <button class="collapsible">Mechanical Structures</button>
                        <div class="content">
                            {% if site.lang == "it" %}
                            <p>
                                Il reparto Mechanical Structures si occupa del dimensionamento dei vari componenti di sterzo, sospensioni, freni e trasmissione esterna. <br>Per fare ciò si avvale di vari software CAD e simulazione FEM. Valida i componenti tramite i test in laboratorio e i test in pista.<br>
                                    Lavora a stretto contatto con i reparti Vehicle dynamics e con il reparto Frame and Ergonomics, specialmente nello sviluppo delle sospensioni.<br>
                                    Gli obiettivi fondamentali sono quelli di aumentare la rigidezza del componente riducendone il peso.<br>
                                    Lavorare in questo reparto consente di imparare ad usare diversi tipi di software, di conoscere e interfacciarsi con le aziende sponsor, utile perchè possono cogliere consigli da esperti nel settore.<br>
                                    Inoltre fornisce competenze pratiche, come il lavoro in officina, l'utilizzo di attrezzi e di macchine utensili quali tornio e fresa.</p>
                            <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
                                <a href="/images/join/MS_CD_1.jpg">
                                    <img src="/images/join/MS_CD_1.jpg">
                                </a>
                            </div>
                            {% elsif site.lang == "en" %}
                            <p></p>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                        <button class="collapsible">Powertrain</button>
                        <div class="content">
                            {% if site.lang == "it" %}
                            <p>Il reparto powertrain della divisione combustion si occupa principlamente dello sviluppo e della manutenzione del motore Honda CBR RR.<br>
                                Inoltre, progetta gli impianti di alimentazione, di scarico e di raffreddamento e si occupa della gestione del cambio, attraverso un continuo processo di ottimizzazione.
                            </p>
                                <h1>ORGANIZZAZIONE DELLA STAGIONE</h1>
                                <p>All'inizio della stagione si esaminano i problemi riscontrati nel corso degli eventi estivi e a partire da questi si individuano i componenti coinvolti e si valutano le possibili soluzioni. <br>
                                Si fissano quindi gli sviluppi da conseguire nel corso dell'anno: i primi mesi vengono dedicati alla progettazione dei componenti che richiedono miglioramenti mentre a partire da gennaio si iniziano i lavori di produzione e messa a punto della nuova vettura.<br>
                                Finalmente, nell'arco della primavera, si procede allo svolgimento dei test in pista in preparazione alle competizioni estive.</p>
                                <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
                                    <a href="/images/join/cd_power1.jpg">
                                        <img src="/images/join/cd_power1.jpg">
                                    </a>
                                    <a href="/images/join/cd_power2.jpg">
                                        <img src="/images/join/cd_power2.jpg">
                                    </a>
                                    <a href="/images/join/cd_power3.png">
                                        <img src="/images/join/cd_power3.png">
                                    </a>
                                    <a href="/images/join/cd_power4.jpg">
                                        <img src="/images/join/cd_power4.jpg">
                                    </a>
                                </div>
                                {% elsif site.lang == "en" %}
                            <p></p>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                    <button class="collapsible">Vehicle Dynamics</button>
                    <div class="content">
                        {% if site.lang == "it" %}
                        <p>Il reparto Vehicle Dynamics si occupa di estrarre la massima performance dalla monoposto tramite la concretizzazione di soluzioni ingegneristiche studiate ad hoc dai membri del reparto affiancate da un’accurata analisi dei dati raccolti in pista.<br>
                            Lavora sempre a stretto contatto con il reparto Mechanical Stuctures per trovare le soluzioni fisicamente realizzabili più vicine a quella di progetto e con il reparto Aerodynamics dal quale riceve input da utilizzare nelle varie analisi condotte.
                            <h1>ORGANIZZAZIONE DELLA STAGIONE</h1>
                            Nella prima parte della stagione ci si concentra sullo studio e sviluppo di tutti gli aspetti inerenti la dinamica del veicolo avvalendosi di software di calcolo numerico come Matlab, programmi CAD come Creo, Life per analizzare i dati raccolti in pista, Lotus Suspension Analysis per lo studio della cinematica e Dymola ed Adams per la modellazione multibody del veicolo.<br>
                            Il reparto inoltre segue la realizzazione delle barre di torsione, dalla progettazione alla laminazione manuale del carbonio.<br>
                            Nella seconda metà di stagione, una volta realizzata la vettura, il reparto Vehicle Dynamics ha l’importante compito di creare l’assetto ottimale per la vettura e seguirla in tutti i test in pista raccogliendo preziosi dati e le sensazioni dei piloti.<br></p>
                        {% elsif site.lang == "en" %}
                        <p></p>
                        {% endif %}
                    </div>
                    </section>
                </div>
            </div>
            <div class="6u">
                <h1>Divisione Elettrica</h1>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                        <button class="collapsible">Aerodynamics</button>
                        <div class="content">
                            {% if site.lang == "it" %}
                            <p>
                                Il reparto aerodynamics si occupa di produrre un pacchetto aerodinamico che garantisca la massima competitività nelle prove dinamiche degli eventi e i giusti livelli di portata alle componenti dedicate al raffreddamento. <br>
                                Durante l'anno resta in stretto contatto con tutti i reparti, specialmente il reparto chassis and ergonomics che li aiuta a dimensionare i supporti delle ali e a trovare, attraverso analisi FEM, il giusto layup per la realizzazione delle componenti. <br>
                                Collabora inoltre con il reparto powertrain per garantire il giusto apporto di aria ai radiatori della vettura, fondamentale per il raffreddamento dei motori, e con il reparto vehicle dynamics per migliorare la performance della vettura.
                            </p>
                            <h1> Progettazione </h1>
                            <p>Partendo da modelli realizzati da software CAD realizziamo simulazioni CFD per analizzare e ottimizzare i componenti aerodinamici. 
                                I nostri disegni sono basati su superfici parametriche di livello avanzato realizzate con <a href="https://www.3ds.com/it/prodotti-e-servizi/catia/prodotti/catia-v5/portfolio/">Catia V5</a>, mentre per l’ottimizzazione CFD sfruttiamo le simulazioni RANS su <a href="https://www.plm.automation.siemens.com/global/it/products/simcenter/STAR-CCM.html">Star CCM+</a>.
                                </p>
                            <h1>Analisi</h1>
                            <p>Dopo aver concluso le simulazioni, inizia la fase di post-processing.  <br>
                                Grazie alle interfacce di Star CCM+, siamo in grado di analizzare scene scalari, vettoriali e non solo, per capire come si comporta il flusso attorno alla vettura.  <br>In base a ciò che vediamo in questa fase e grazie alle conoscenze acquisite durante gli studi, siamo in grado di apportare le modifiche necessarie al pacchetto aerodinamico per arrivare a completare i nostri obiettivi. </p>
                            <h1> Manufacturing</h1>
                            <p>Grazie all’aiuto dei nostri sponsor realizziamo dei modelli in MDF delle nostre appendici aerodinamiche. Da questi, otteniamo degli stampi su cui poi andremo a laminare il prodotto finale. <br> Utilizziamo principalmente fibre di carbonio pre-preg ma anche fibra di vetro e kevlar. Alla fine, assembliamo e regoliamo l'assetto dei dispositivi in macchina.
                                <br>Inoltre, ci occupiamo di validare simulazioni e performance ipotizzate attraverso test in pista e dispositivi per il rilevamento dei flussi come ad esempio tubi di pitot.
                                </p>
                                <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
                                    <a href="/images/join/ed_aero1.jpg">
                                        <img src="/images/join/ed_aero1.jpg">
                                    </a>
                                    <a href="/images/join/ed_aero2.jpg">
                                        <img src="/images/join/ed_aero2.jpg">
                                    </a>
                                    <a href="/images/join/ed_aero3.jpg">
                                        <img src="/images/join/ed_aero3.jpg">
                                    </a>
                                    <a href="/images/join/ed_aero4.jpg">
                                        <img src="/images/join/ed_aero4.jpg">
                                    </a>
                                    <a href="/images/join/ed_aero8.jpg">
                                        <img src="/images/join/ed_aero8.jpg">
                                    </a>
                                    <a href="/images/join/ed_aero6.jpg">
                                        <img src="/images/join/ed_aero6.jpg">
                                    </a>
                                    <a href="/images/join/ed_aero7.jpg">
                                        <img src="/images/join/ed_aero7.jpg">
                                    </a>
                                    <a href="/images/join/ed_aero9.jpg">
                                        <img src="/images/join/ed_aero9.jpg">
                                    </a>
                                </div>
                            {% elsif site.lang == "en" %}
                            <p></p>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                        <button class="collapsible">Electronics</button>
                        <div class="content">
                            {% if site.lang == "it" %}
                            <p>
                                Il reparto Electronics della divisione elettrica si occupa della gestione dell'elettronica di bassa tensione della macchina a livello hardware, quindi tutto ciò che permette alla centralina di rilevare correttamente i valori ottenuti dai sensori posti in auto. <br>
                                Si occupa inoltre della posa del cablaggio in macchina, di tutte le schede di bassa tensione e alcune di alta. <br>
                                Il reparto elettronica ha sempre gestito anche la progettazione e la costruzione della batteria di alta tensione, che dal prossimo anno passerà tuttavia al reparto Powertrain, alla quale collaborano anche altri reparti.
                            </p>

                            <h1>ORGANIZZAZIONE DELLA STAGIONE</h1>
                            <p>
                                Nei primi mesi di lavoro (fino a gennaio/febbraio) si progetta la macchina in tutte le sue parti, lavorando insieme in un'analisi che permetta di individuare a priori i problemi che potrebbero nascere e le loro possibili soluzioni, in modo da sviluppare un concept adeguato fin da subito.
                                Da metà febbraio circa, invece, si inizia a costruire la vera e propria auto, saldando le schede prodotte, testandole, fino a montarle in macchina collegandole al cablaggio della vettura per vederle lavorare insieme.
                                Dopo di ché inizia la fase di test, durante la quale il reparto svolge un ruolo fondamentale per capire cosa succede nella vettura.
                            </p>

                            <h1>OBIETTIVI</h1>
                            <p>
                                Gli obiettivi dipendono dall'andamento dell'anno precedente: quest'anno per esempio lavoreremo sull'affidabilità delle schede e sulla creazione di un buon sistema di acquisizione dati.
                            </p>
                            {% elsif site.lang == "en" %}
                            <p></p>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                        <button class="collapsible">Monocoque & Composites</button>
                        <div class="content">
                            {% if site.lang == "it" %}
                            <p>Il reparto Monocoque & Composites si occupa principalmente della progettazione e della realizzazione della monoscocca, realizzata completamente in struttura sandwich di materiali compositi, con l’obiettivo di soddisfare sia i requisiti di leggerezza e rigidezza legati alle performance che quelli regolamentari di sicurezza telaistica.<br>
                                Non solo, infatti il reparto cura anche numerosi altri aspetti e componenti della vettura, motivo per cui si possono distinguere 4 macro-gruppi in cui sono impegnati i membri del reparto:<br>
                                
                                <b>Monocoque</b>: si occupa della sopracitata progettazione del telaio, ed è responsabile della fase successiva di testing in laboratorio;<br>
                                
                                <b>CAD & Driver Interface</b>: si occupa della progettazione e della realizzazione dei componenti di interfaccia fra pilota e telaio, come il sedile, volante, poggiatesta, nonché responsabile delle geometrie del telaio.<br>
                                
                                <b>FEM & AIP/Crashbox</b>: si occupa della progettazione dell’assieme di assorbimento d’urto frontale, realizzato in materiale composito. È inoltre responsabile della realizzazione e gestione dei layup di componenti in materiale composito, tra i quali i supporti delle appendici aerodinamiche e la parte strutturale delle ali stesse.<br>
                                <b>HV/LV Components</b>: si occupa della progettazione strutturale del pacco batteria e dei componenti fire retardant presenti nella vettura.<br><br>
                                All’interno del reparto si acquisiscono competenze nella progettazione e realizzazione di numerose componenti di una vettura da competizione, nello sviluppo di modelli numerici e analitici per prevedere il comportamento fisico di parti del veicolo, nonché nella selezione dei materiali più opportuni per i diversi impieghi, dall’acciaio a compositi come fibre di carbonio e kevlar.<br>
                                    I membri di questo reparto hanno la possibilità di ideare e sviluppare un proprio progetto, mettendo in pratica anche in modo creativo quanto appreso nel corso del proprio percorso universitario.<br>
                                    Si ha inoltre la possibilità di apprendere l’utilizzo di software <b>CAD</b> e <b>FEM</b> molto utilizzati in ambito professionale.<br>
                                    Infine, come in tutti i reparti del Team, i partecipanti al progetto di Formula Student hanno la possibilità di interfacciarsi con importanti realtà del territorio ed avvicinarsi così al mondo del lavoro.
                            </p>
                                
                                <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
                                    <a href="/images/join/ed_chassis1.gif">
                                        <img src="/images/join/ed_chassis1.gif">
                                    </a>
                                    <a href="/images/join/ed_chassis2.gif">
                                        <img src="/images/join/ed_chassis2.gif">
                                    </a>
                                    <a href="/images/join/ed_chassis3.gif">
                                        <img src="/images/join/ed_chassis3.gif">
                                    </a>
                                    <a href="/images/join/ed_chassis4.gif">
                                        <img src="/images/join/ed_chassis4.gif">
                                    </a>
                                    <a href="/images/join/ed_chassis5.gif">
                                        <img src="/images/join/ed_chassis5.gif">
                                    </a>
                                </div>
                            {% elsif site.lang == "en" %}
                            <p></p>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                        <button class="collapsible">Mechanical Structures</button>
                        <div class="content">
                            {% if site.lang == "it" %}
                            <p>
                                Il reparto si occupa della progettazione e della manutenzione dei riduttori, del gruppo sterzo e dei freni con l' obiettivi di aumentare efficienza e ridurre il peso.<br>
                                Collabora spesso con il reparto di Vehicle dynamics per quanto riguarda sospensioni e gruppi ruota. Inoltre collabora con tutti gli altri reparti per il design di altri componenti meccanici, che avviene tramite l'utilizzo di software di analisi FEM ed eventualmente test fisici in laboratorio.
                                <br>Infine si occupa anche di disegnare e realizzare altre strutture meccaniche necessarie per gli eventi, come quick jack per sollevare la vettura, push bar, carrello gomme e carrello batteria.</p>
                            {% elsif site.lang == "en" %}
                            <p></p>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                        <button class="collapsible">Powertrain</button>
                        <div class="content">
                            {% if site.lang == "it" %}
                            <p>Il reparto powertrain della divisione elettrica si occupa principlamente dell'apparato propulsivo della vettura, composto da quattro motori sincroni AMK, tramite il cablaggio ad alta tensione.<br>
                                Dal prossimo anno si occuperà anche del pacco batteria, della gestione della potenza e della frenata rigenerativa, cercando di implementare un algoritmo efficiente che permetta di migliorare le prestazioni.<br>
                                Il reparto lavora in stretto contatto con gli aerodinamici per lo sviluppo di un sistema di raffreddamento che mantenga in temperatura di esercizio gli inverter trifase che controllano i motori.<br>
                                É il reparto con più margine di miglioramento, e ha l'obiettivo di ottimizzare l'impianto di propulsione rendendo la macchina più veloce ed affidabile.</p>
                                <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
                                    <a href="/images/join/ed_power1.JPG">
                                        <img src="/images/join/ed_power1.JPG">
                                    </a>
                                    <a href="/images/join/ed_power2.png">
                                        <img src="/images/join/ed_power2.png">
                                    </a>
                                    <a href="/images/join/ed_power3.png">
                                        <img src="/images/join/ed_power3.png">
                                    </a>
                                    <a href="/images/join/ed_power4.png">
                                        <img src="/images/join/ed_power4.png">
                                    </a>
                                </div>
                                {% elsif site.lang == "en" %}
                            <p></p>
                            {% endif %}
                        </div>
                        
                    </section>
                </div>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                    <button class="collapsible">Vehicle Dynamics</button>
                    <div class="content">
                        {% if site.lang == "it" %}
                        <p>Il reparto Vehicle Dynamics si occupa in primo luogo della definizione delle specifiche generali della vettura, degli studi sugli pneumatici, e della cinematica delle sospensioni, condividendo poi con il reparto Mechanical Structures le fasi di progettazione e realizzazione dei componenti. <br>
                            Inoltre, si occupa anche dell'elaborazione e del miglioramento del modello dinamico del veicolo, con il quale eseguire simulazioni utili a capire le prestazioni e il comportamento della vettura in ogni condizione di guida.<br>
                            Infine, durante la fase di test in pista, ci occupiamo dell'acquisizione e dell'analisi dei dati, con l'obiettivo di migliorare l'assetto della vettura e di aumentarne le prestazioni.</p>
                            <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
                                <a href="/images/join/ed_vd3.JPG">
                                    <img src="/images/join/ed_vd3.JPG">
                                </a>
                                <a href="/images/join/ed_vd1.jpg">
                                    <img src="/images/join/ed_vd1.jpg">
                                </a>
                                <a href="/images/join/ed_vd2.png">
                                    <img src="/images/join/ed_vd2.png">
                                </a>
                            </div>
                            {% elsif site.lang == "en" %}
                        <p></p>
                        {% endif %}
                    </div>
                    </section>
                </div>
                <div class="row" align="center" >
                    <section class="12u" style="padding-top: 0!important; margin: 1em 0 0em 0!important;">
                        <button class="collapsible">Software</button>
                        <div class="content">
                            {% if site.lang == "it" %}
                            <p>Il reparto software si occupa della programmazione dei numerosi microcontrollori presenti in vettura, come per esempio la centralina della macchina, la scheda che gestisce la telemetria e le schede BMS che controllano la batteria; implementa inoltre l'interfaccia grafica del display per il pilota e la comunicazione con quest'ultimo. <br>
                                La stagione inizia con uno studio attento dell'hardware e la consecutiva scelta delle schede elettroniche da montare in auto in base agli obiettivi e i requisiti posti a inizio anno; prosegue poi con la stesura di un codice efficiente e la manutenzione software del codice già implementato.<br>
                                Infine, si occupa anche della gestione del server del team e del sito web.<br>
                                Lavora a stretto contatto con i reparti Electronics e Powertrain, ma fornisce supporto IT anche a tutti gli altri.{% elsif site.lang == "en" %}</p>
                            {% endif %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>   

    {% tf join.html %}
</article>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
    </script>

<script src="/js/flickity.pkgd.js"></script>
<script src="/js/countdown.js"></script>
<link rel="stylesheet" href="/css/flickity.min.css">