---
layout: default
title: titles.media
---
<article id="main">
<header class="special container">
<span class="icon fa-users"></span>
<h2>
{% if site.lang == "it" %}Foto, video e ricordi del Race Up team {% elsif site.lang == "en" %}Photos, videos and memories signed Race Up team {% endif %}
</h2>
</header>
<section class="wrapper style3 container">
<div>
<h2>2017 - Formula Student Germany</h2>
<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
<a href="/images/media/full/2017/fsg/20170810_13-18-51_4143_klein.jpg">
<img src="/images/media/2017/fsg/20170810_13-18-51_4143_klein.jpg" alt="Team picture with Stefano">
</a>
<a href="/images/media/full/2017/fsg/20170812_10-43-16_8901_shidhartha-de.jpg">
<img src="/images/media/2017/fsg/20170812_10-43-16_8901_shidhartha-de.jpg" alt="Victory">
</a>
<a href="/images/media/full/2017/fsg/20170810_13-19-36_4144_klein.jpg">
<img src="/images/media/2017/fsg/20170810_13-19-36_4144_klein.jpg" alt="Funny team picture">
</a>
<a href="/images/media/full/2017/fsg/20170812_15-15-48_0196_schulz.jpg">
<img src="/images/media/2017/fsg/20170812_15-15-48_0196_schulz.jpg" alt="Running">
</a>
<a href="/images/media/full/2017/fsg/20170812_09-26-05_6520_zenker.jpg">
<img src="/images/media/2017/fsg/20170812_09-26-05_6520_zenker.jpg" alt="Bringing tires">
</a>
<a href="/images/media/full/2017/fsg/20170812_16-50-42_3492_maru.jpg">
<img src="/images/media/2017/fsg/20170812_16-50-42_3492_maru.jpg" alt="Cornering">
</a>
</div>
</div>
</section>
<section class="wrapper style3 container">
<div>
<h2>2017 - Varano Electric Division</h2>
<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
<a href="/images/media/full/2017/varano-ed/IMG_6593.jpg">
<img src="/images/media/2017/varano-ed/IMG_6593.jpg" alt="Front view (cost event)">
</a>
<a href="/images/media/full/2017/varano-ed/IMG_6558.jpg">
<img src="/images/media/2017/varano-ed/IMG_6558.jpg" alt="Design event">
</a>
<a href="/images/media/full/2017/varano-ed/IMG_3810.jpg">
<img src="/images/media/2017/varano-ed/IMG_3810.jpg" alt="Tav getting back from photoshoot">
</a>
<a href="/images/media/full/2017/varano-ed/CRW_0185.jpg">
<img src="/images/media/2017/varano-ed/CRW_0185.jpg" alt="Team picture">
</a>
<a href="/images/media/full/2017/varano-ed/IMG_6614.jpg">
<img src="/images/media/2017/varano-ed/IMG_6614.jpg" alt="Team picture on circuit steps">
</a>
<a href="/images/media/full/2017/varano-ed/IMG_3736.jpg">
<img src="/images/media/2017/varano-ed/IMG_3736.jpg" alt="Origin-e with Varano">
</a>
<a href="/images/media/full/2017/varano-ed/IMG_3815.jpg">
<img src="/images/media/2017/varano-ed/IMG_3815.jpg" alt="Tav getting back from photoshoot (2)">
</a>
<a href="/images/media/full/2017/varano-ed/IMG_6592.jpg">
<img src="/images/media/2017/varano-ed/IMG_6592.jpg" alt="Cost event">
</a>
<a href="/images/media/full/2017/varano-ed/CRW_0650.jpg">
<img src="/images/media/2017/varano-ed/CRW_0650.jpg" alt="All teams">
</a>
<a href="/images/media/full/2017/varano-ed/IMG_6615.jpeg">
<img src="/images/media/2017/varano-ed/IMG_6615.jpeg" alt="Podium win">
</a>
<a href="/images/media/full/2017/varano-ed/CRW_0677_2.jpg">
<img src="/images/media/2017/varano-ed/CRW_0677_2.jpg" alt="Team picture after event">
</a>
<a href="/images/media/full/2017/varano-ed/IMG_3738.jpg">
<img src="/images/media/2017/varano-ed/IMG_3738.jpg" alt="Origin-e chilling out">
</a>
</div>
</div>
</section>
<section class="wrapper style3 container">
<div>
<h2>2017 - Varano Combustion Division</h2>
<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
<a href="/images/media/full/2017/varano-cd/CRW_0243_(2).jpg">
<img src="/images/media/2017/varano-cd/CRW_0243_(2).jpg" alt="Preparation">
</a>
<a href="/images/media/full/2017/varano-cd/IMG_6550.JPG">
<img src="/images/media/2017/varano-cd/IMG_6550.jpg" alt="All tests passed">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0094.jpg">
<img src="/images/media/2017/varano-cd/CRW_0094.jpg" alt="Running">
</a>
<a href="/images/media/full/2017/varano-cd/IMG_6601.jpg">
<img src="/images/media/2017/varano-cd/IMG_6601.jpg" alt="Design event">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0273.jpg">
<img src="/images/media/2017/varano-cd/CRW_0273.jpg" alt="Design event (2)">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0721.jpg">
<img src="/images/media/2017/varano-cd/CRW_0721.jpg" alt="Corner view">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0475.jpg">
<img src="/images/media/2017/varano-cd/CRW_0475.jpg" alt="Acceleration">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0646.jpg">
<img src="/images/media/2017/varano-cd/CRW_0646.jpg" alt="All teams">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0358.jpg">
<img src="/images/media/2017/varano-cd/CRW_0358.jpg" alt="Cornering">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0011.jpg">
<img src="/images/media/2017/varano-cd/CRW_0011.jpg" alt="Impact">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0072.jpg">
<img src="/images/media/2017/varano-cd/CRW_0072.jpg" alt="Aerodynamics">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0132.jpg">
<img src="/images/media/2017/varano-cd/CRW_0132.jpg" alt="Shark">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0267.jpg">
<img src="/images/media/2017/varano-cd/CRW_0267.jpg" alt="Pilot">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0500.jpg">
<img src="/images/media/2017/varano-cd/CRW_0500.jpg" alt="Running (2)">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0227_(2).jpg">
<img src="/images/media/2017/varano-cd/CRW_0227_(2).jpg" alt="Design event (3)">
</a>
<a href="/images/media/full/2017/varano-cd/CRW_0718.jpg">
<img src="/images/media/2017/varano-cd/CRW_0718.jpg" alt="Cornering (2)">
</a>
</div>
</div>
</section>
<section class="wrapper style3 container">
<div>
<h2>2017 - ZF Camp</h2>
<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
<a href="/images/media/full/2017/zf/2017-06-02_ZF_Race_Camp_04.jpg">
<img src="/images/media/2017/zf/2017-06-02_ZF_Race_Camp_04.jpg" alt="All teams">
</a>
<a href="/images/media/full/2017/zf/IMG_4695.jpg">
<img src="/images/media/2017/zf/IMG_4695.jpg" alt="Moving">
</a>
<a href="/images/media/full/2017/zf/IMG_4710.jpg">
<img src="/images/media/2017/zf/IMG_4710.jpg" alt="Rainy day">
</a>
<a href="/images/media/full/2017/zf/IMG_4783.jpg">
<img src="/images/media/2017/zf/IMG_4783.jpg" alt="Judging">
</a>
<a href="/images/media/full/2017/zf/85_ZF_2.jpg">
<img src="/images/media/2017/zf/85_ZF_2.jpg" alt="Running">
</a>
<a href="/images/media/full/2017/zf/IMG_4736.jpg">
<img src="/images/media/2017/zf/IMG_4736.jpg" alt="360">
</a>
<a href="/images/media/full/2017/zf/IMG_4784.jpg">
<img src="/images/media/2017/zf/IMG_4784.jpg" alt="Judging (2)">
</a>
<a href="/images/media/full/2017/zf/85_ZF_3.jpg">
<img src="/images/media/2017/zf/85_ZF_3.jpg" alt="Running (2)">
</a>
<a href="/images/media/full/2017/zf/IMG_4706.jpg">
<img src="/images/media/2017/zf/IMG_4706.jpg" alt="Box box box">
</a>
<a href="/images/media/full/2017/zf/IMG_4781.jpg">
<img src="/images/media/2017/zf/IMG_4781.jpg" alt="Ready to run">
</a>
<a href="/images/media/full/2017/zf/IMG_4785.jpg">
<img src="/images/media/2017/zf/IMG_4785.jpg" alt="Judging (3)">
</a>
<a href="/images/media/full/2017/zf/85_ZF.jpg">
<img src="/images/media/2017/zf/85_ZF.jpg" alt="Lateral view">
</a>
<a href="/images/media/full/2017/zf/IMG_4709.jpg">
<img src="/images/media/2017/zf/IMG_4709.jpg" alt="Ready to run (2)">
</a>
<a href="/images/media/full/2017/zf/IMG_4782.jpg">
<img src="/images/media/2017/zf/IMG_4782.jpg" alt="Sunny day">
</a>
<a href="/images/media/full/2017/zf/IMG_4923.jpg">
<img src="/images/media/2017/zf/IMG_4923.jpg" alt="Box box box (2)">
</a>
</div>
</div>
</section>
<section class="wrapper style3 container">
<div>
<h2>
{% if site.lang == "it" %}2017 - Presentazione monoposto {% elsif site.lang == "en" %}2017 - Car launch {% endif %}
</h2>
<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
<img src="/images/media/2017/launch/CRW_0074.jpg" alt="Applausi">
<img src="/images/media/2017/launch/CRW_0164.jpg" alt="Unveiling">
<img src="/images/media/2017/launch/CRW_0174.jpg" alt="Electric team">
<img src="/images/media/2017/launch/IMG_3747.jpg" alt="Combustion team">
<img src="/images/media/2017/launch/CRW_0092.jpg" alt="Moving">
<img src="/images/media/2017/launch/CRW_0169.jpg" alt="Launch">
<img src="/images/media/2017/launch/CRW_0175.jpg" alt="Professors">
<img src="/images/media/2017/launch/IMG_3750.jpg" alt="Pilot">
<img src="/images/media/2017/launch/CRW_0096.jpg" alt="Moving the combustion car">
<img src="/images/media/2017/launch/CRW_0173.jpg" alt="Overall">
<img src="/images/media/2017/launch/CRW_0210.jpg" alt="Crowd">
</div>
</div>
</section>
<section class="wrapper style3 container">
<div>
<h2>2016 - Formula Student Germany</h2>
<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
<img src="/images/media/2016/Fsg_Origine.jpg" alt="Zinghi spinge">
<img src="/images/media/2016/Fsg_Mg16.jpg" alt="Comb">
<img src="/images/media/2016/Sperimentando.jpg" alt="Sperimentando">
<img src="/images/media/2016/Fsg1_Mg16.jpg" alt="Comb rain test">
<img src="/images/media/2016/009386.jpg" alt="Whats inside">
<img src="/images/media/2016/Squad1.jpg" alt="Comb at OZ">
<img src="/images/media/2016/Cosa_Facciamo7.jpg" alt="Podium win">
<img src="/images/media/2016/Raceup_Hockenheim16.jpg" alt="FSG Race Up team">
<img src="/images/media/2016/285_Running.jpg" alt="Comb running">
<img src="/images/media/2016/Work_On_285.jpg" alt="Comb working">
<img src="/images/media/2016/Cosa_Facciamo4.jpg" alt="Lov frames">
<img src="/images/media/2016/009385.jpg" alt="Seater">
<img src="/images/media/2016/Cosa_Facciamo6.jpg" alt="Painting">
<img src="/images/media/2016/Foto_Team_Nuovo_2016_4_3.jpg" alt="Race Up informal">
<img src="/images/media/2016/Judging.jpg" alt="Judging">
<img src="/images/media/2016/Autodromo-Varano.jpg" alt="Varano">
<img src="/images/media/2016/Foto_1.jpg" alt="Testing">
<img src="/images/media/2016/Oz_Racing.jpg" alt="OZ racing">
</div>
</div>
</section>
<section class="wrapper style3 container">
<div>
<h2>2014 - Business Plan Presentation</h2>
<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
<img src="/images/media/2015/bpp.jpg" alt="BPP 2015 win">
</div>
</div>
</section>
<section class="wrapper style3 container">
<div>
<h2>Videos</h2>
<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
<iframe src="https://youtube.com/embed/Y_5piPzyt7o"></iframe>
<iframe src="https://youtube.com/embed/8GvOrqkJuNs"></iframe>
<iframe src="https://youtube.com/embed/-Rueu8PnHxg"></iframe>
<iframe src="https://youtube.com/embed/Xb8x33uwORU"></iframe>
<iframe src="https://youtube.com/embed/JJM_LVkTkiU"></iframe>
<iframe src="https://youtube.com/embed/OdLxoigdPwo"></iframe>
<iframe src="https://youtube.com/embed/snS5sR6s4VE"></iframe>
</div>
</div>
</section>
</article>
<script src="/js/flickity.pkgd.js"></script>
<link rel="stylesheet" href="/css/flickity.min.css">