<nav id="nav">
    <ul>
        <li class="icon fa-home"><a href="/en">Home</a></li>
        <li class="submenu">
            <a>Team</a>
            <ul>
                <li><a href="{{ site.baseurl }}/team.html">Race UP</a></li>
                <li><a href="{{ site.baseurl }}/team-stuff.html">Stuff we do</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a>Cars</a>
            <ul>
                <li><a href="{{ site.baseurl }}/cars/cd.html">MG</a></li>
                <li><a href="{{ site.baseurl }}/cars/ed.html">Origin-E</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a>Sponsors</a>
            <ul>
                <li><a href="{{ site.baseurl }}/sponsors/why.html">Why support us</a></li>
                <li><a href="{{ site.baseurl }}/sponsors/cd.html">Combustion Division</a></li>
                <li><a href="{{ site.baseurl }}/sponsors/ed.html">Electric Division</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/join.html">Join the team</a></li>
        <li><a href="{{ site.baseurl }}/media.html">Media</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">News</a></li>
        <li class="icon fa-language"><a href="/">ITA</a></li>
    </ul>
</nav>