<header id="header">
<h1 id="logo"><a href="/">RaceUp</a></h1>

<nav id="nav">
    <ul>
        <li class="submenu icon fa-language">
            <ul>
                <li><a class="link-it" href="{{ site.baseurl_root }}/">it</a></li>
                <li><a class="link-en" href="{{ site.baseurl_root }}/en">en</a></li>
            </ul>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li class="submenu">
            <a href="/">Team</a>
            <ul>
                <li><a href="/team/cd.html">Combustion Division</a></li>
                <li><a href="/team/ed.html">Electric Division</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="/">Cars</a>
            <ul>
                <li><a href="/cars/cd.html">MG</a></li>
                <li><a href="/cars/ed.html">Origin-E</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="/">Sponsors</a>
            <ul>
                <li><a href="/sponsors/cd.html">Combustion Division</a></li>
                <li><a href="/sponsors/ed.html">Electric Division</a></li>
            </ul>
        </li>
        <li><a href="/about.html">About</a></li>
    </ul>
</nav>
</header>
