<nav id="nav" align="center">
    <ul>
        <li class="icon fa-home"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="submenu">
            <a>Team</a>
            <ul>
                <li><a href="{{ site.baseurl }}/team/2021.html">2021</a></li>
                <li><a href="{{ site.baseurl }}/team/2020.html">2020</a></li>
                <li><a href="{{ site.baseurl }}/team/2019.html">2019</a></li>
                <li><a href="{{ site.baseurl }}/team/2018.html">2018</a></li>
                <li><a href="{{ site.baseurl }}/team/2017.html">2017</a></li>
                <li><a href="{{ site.baseurl }}/team/2016.html">2016</a></li>
                <li><a href="{{ site.baseurl }}/team/2015.html">2015</a></li>
                <li><a href="{{ site.baseurl }}/team/2014.html">2014</a></li>
                <li><a href="{{ site.baseurl }}/team/2013.html">2013</a></li>
                <li><a href="{{ site.baseurl }}/team/2012.html">2012</a></li>
                <li><a href="{{ site.baseurl }}/team/2011.html">2011</a></li>
                <li><a href="{{ site.baseurl }}/team/2010.html">2010</a></li>
                <li><a href="{{ site.baseurl }}/team/2009.html">2009</a></li>
                <li><a href="{{ site.baseurl }}/team/2008.html">2008</a></li>
                <li><a href="{{ site.baseurl }}/team/2007.html">2007</a></li>
                <li><a href="{{ site.baseurl }}/team/2006.html">2006</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/team/history.html">Our history</a></li>
        <li class="submenu">
            <a>Cars</a>
            <ul>
                <li><a href="{{ site.baseurl }}/cars/cd.html">Combustion</a></li>
                <li><a href="{{ site.baseurl }}/cars/ed.html">Electric</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a>Sponsors</a>
            <ul>
                <li><a href="{{ site.baseurl }}/sponsors/why.html">Why support us</a></li>
                <li><a href="{{ site.baseurl }}/sponsors/cd.html">Combustion division</a></li>
                <li><a href="{{ site.baseurl }}/sponsors/ed.html">Electric division</a></li>
                <li><a href="{{ site.baseurl }}/sponsors/collaborations.html">Collaborations</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/join.html">Join us</a></li>
        <li><a href="{{ site.baseurl }}/media.html">Media</a></li>

        <li><a href="{{ site.baseurl }}/contact.html">Contacts</a></li>
        <li class="icon fa-language"><a href="/">ita</a></li>
    </ul>
</nav>