<section class="wrapper style3 container">
    <nav id="small_nav">
        <div class="row">
            <div class="2u">
                <a href="{{ site.baseurl }}/team/members.html">Team</a>
            </div>
            <div class="2u">
                Cars

                <ul>
                    <li><a href="{{ site.baseurl }}/cars/cd.html">Combustion</a></li>
                    <li><a href="{{ site.baseurl }}/cars/ed.html">Electric</a></li>
                </ul>
            </div>
            <div class="2u">
                Sponsors

                <ul>
                    <li><a href="{{ site.baseurl }}/sponsors/why.html">Why
                        support us
                    </a></li>
                    <li><a href="{{ site.baseurl }}/sponsors/cd.html">
                        Combustion division</a></li>
                    <li><a href="{{ site.baseurl }}/sponsors/ed.html">
                        Electric division</a></li>
                </ul>
            </div>
            <div class="2u">
                <a href="{{ site.baseurl }}/join.html">Join us</a>
            </div>
            <div class="2u">
                News

                <ul>
                    <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                </ul>
            </div>
            <div class="2u">
                <a href="{{ site.baseurl }}/contact.html">Contacts</a>
            </div>
        </div>
    </nav>
</section>