<header id="header">
<h1 id="logo"><a href="{{ site.baseurl }}/">RaceUp</a></h1>

<nav id="nav">
    <ul>
        <li class="submenu icon fa-language">
            <ul>
                <li><a href="/">it</a></li>
                <li><a href="/en">en</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/">Pagina iniziale</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li><a href="{{ site.baseurl }}/team.html">Team</a></li>
        <li class="submenu">
            <a>Auto</a>
            <ul>
                <li><a href="{{ site.baseurl }}/cars/cd.html">MG</a></li>
                <li><a href="{{ site.baseurl }}/cars/ed.html">Origin-E</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a>Sponsors</a>
            <ul>
                <li><a href="{{ site.baseurl }}/sponsors/cd.html">Divisione a combustione</a></li>
                <li><a href="{{ site.baseurl }}/sponsors/ed.html">Divisione elettrica</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
    </ul>
</nav>
</header>
