<nav id="nav">
    <ul>
        <li class="icon fa-home"><a href="/">Home</a></li>
        <li><a href="{{ site.baseurl }}/team.html">Team</a></li>
        <li class="submenu">
            <a>Auto</a>
            <ul>
                <li><a href="{{ site.baseurl }}/cars/cd.html">MG</a></li>
                <li><a href="{{ site.baseurl }}/cars/ed.html">Origin-E</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a>Sponsors</a>
            <ul>
                <li><a href="{{ site.baseurl }}/sponsors/cd.html">Divisione combustion</a></li>
                <li><a href="{{ site.baseurl }}/sponsors/ed.html">Divisione elettrica</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/join.html">Unisciti a noi</a></li>
        <li><a href="{{ site.baseurl }}/media.html">Media</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">Notizie</a></li>    
        <li class="icon fa-language"><a href="/en">eng</a></li>
    </ul>
</nav>