<nav id="small_nav" class="container">
    <div class="row">
        <div class="2u">
            <a href="{{ site.baseurl }}/team/members.html">Chi siamo</a>
        </div>
        <div class="2u">
            Auto

            <ul>
                <li><a href="{{ site.baseurl }}/cars/cd.html">Combustion</a></li>
                <li><a href="{{ site.baseurl }}/cars/ed.html">Electric</a></li>
            </ul>
        </div>
        <div class="2u">
            Sponsors

            <ul>
                <li><a href="{{ site.baseurl }}/sponsors/why.html">Perchè supportarci</a></li>
                <li><a href="{{ site.baseurl }}/sponsors/cd.html">Divisione combustion</a></li>
                <li><a href="{{ site.baseurl }}/sponsors/ed.html">Divisione electric</a></li>
            </ul>
        </div>
        <div class="2u">
            <a href="{{ site.baseurl }}/join.html">Unisciti a noi</a>
        </div>
        <!-- VECCHIA SEZIONE NEWS MAI USATA -->
        <!-- <div class="2u">
            News

            <ul>
                <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                <li><a href="{{ site.baseurl }}/blog.html">Dicono di noi</a></li>
            </ul>
        </div> -->
        <div class="2u">
            <a href="{{ site.baseurl }}/contact.html">Contatti</a>
        </div>
    </div>
</nav>