<div style="display: inline;">
    <p>
        {% if site.lang == "it" %}Trova la tua prossima opportunità di
        carriera in Race UP. Unisciti a noi nella nostra missione di
        creare macchine da corsa. Se sei interessato al mondo racing e
        automotive, Race UP offre un'ampia offerta con la sola posizione
        per te.
        <br>Cosa stai aspettando?
        <br>
        <strong>Il Race UP Team fa per te!</strong> 
        {% elsif site.lang== "en" %}Find your next career opportunity in Race UP. Join us
        in our mission of creating racing cars. If you are interested in
        the racing and automotive world, Race UP offers a wide-ranging
        offer with only one position for you.
        <br>What are you waiting for?
        <br>
        <strong>Race UP Team is all you need!</strong> {% endif %}
    </p>
    <p><strong>Electric Division</strong></p>
    <ul class="careers-list">
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Vehicle Performance</strong></a>
            Studio degli pneumatici, dinamica del veicolo, definizione dei parametri geometrici della monoposto e simulazione di modelli vettura, cinematica. In fase di test, ricerca della messa a punto ottimale e analisi DAQ.<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Electronics</strong></a>
            Progettazione, realizzazione e manutenzione di cablaggio, schede elettroniche e sensori. Gestione ECU e PDU.<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Mechanical Structures</strong></a>
            Progettazione, realizzazione, assemblaggio e manutenzione dei componenti strutturali (gruppi ruota, triangoli, rocker, arb, sterzo, trasmissione, freni) sulle indicazioni del reparto dinamica del veicolo e motore.<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Powertrain</strong></a>
            Studio, progettazione, assemblaggio e manutenzione del motore e sue parti interne ( valvole ecc..), aspirazione, farfalla, scarico, sistema di raffreddamento, cambio e sua attuazione. Gestione della mappa motore e analisi DAQ.<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Chassis & Ergonomy</strong></a>
            Progettazione, realizzazione e manutenzione del telaio, sedile, volante, cockpit, firewall, headrest, strutture in fibra di carbonio (appendici aerodinamiche).<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Areodynamics</strong></a>
            Si occupa dello studio di un pacchetto aerodinamico composto da pance laterali, fondo, ala anteriore e ala posteriore, con l'obiettivo di aumentare l’aderenza a terra e ridurre la resistenza all’avanzamento della vettura.<a 
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
    </ul>
    <p><strong>Combustion Division</strong></p>
    <ul class="careers-list">
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Vehicle Performance</strong></a>
            Studio degli pneumatici, dinamica del veicolo, definizione dei parametri geometrici della monoposto e simulazione di modelli vettura, cinematica. In fase di test, ricerca della messa a punto ottimale e analisi DAQ.<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Electronics</strong></a>
            {% t global.slots %}  Progettazione, realizzazione e manutenzione di cablaggio, schede elettroniche e sensori. Gestione ECU e PDU.<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Mechanical Structures</strong></a>
            Progettazione, realizzazione, assemblaggio e manutenzione dei componenti strutturali (gruppi ruota, triangoli, rocker, arb, sterzo, trasmissione, freni) sulle indicazioni del reparto dinamica del veicolo e motore.<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Powertrain</strong></a>
            Studio, progettazione, assemblaggio e manutenzione del motore e sue parti interne ( valvole ecc..), aspirazione, farfalla, scarico, sistema di raffreddamento, cambio e sua attuazione. Gestione della mappa motore e analisi DAQ.<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Chassis & Ergonomy</strong></a>
            Progettazione, realizzazione e manutenzione del telaio, sedile, volante, cockpit, firewall, headrest, strutture in fibra di carbonio (appendici aerodinamiche).<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Areodynamics</strong></a>
            Si occupa dello studio di un pacchetto aerodinamico composto da pance laterali, fondo, ala anteriore e ala posteriore, con l'obiettivo di aumentare l’aderenza a terra e ridurre la resistenza all’avanzamento della vettura.<a 
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a>
        </li>
    </ul>
</div>