<div style="display: inline;">
    <p>
        {% if site.lang == "it" %}Trova la tua prossima opportunità di
        carriera in Race UP. Unisciti a noi nella nostra missione di
        creare macchine da corsa. Se sei interessato al mondo racing e
        automotive, Race UP offre un'ampia offerta con la sola posizione
        per te.
        <br>Cosa stai aspettando?
        <br>
        <strong>Il Race UP Team fa per te!</strong> 
        {% elsif site.lang== "en" %}Find your next career opportunity in Race UP. Join us
        in our mission of creating racing cars. If you are interested in
        the racing and automotive world, Race UP offers a wide-ranging
        offer with only one position for you.
        <br>What are you waiting for?
        <br>
        <strong>Race UP Team is all you need!</strong> {% endif %}
    </p>
    <ul class="careers-list">
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Business & Marketing</strong></a>
            Elaborazione e presentazione del Business Plan, pianificazione economico-finanziaria, ricerca sponsor, ricerche di mercato, gestione social, logistica ed elaborazione del materiale pubblicitario.<a
                href="https://goo.gl/forms/MXMYd529Pq4OWBq32"
                class="button extrasmall">Apply</a>
        </li>

        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Graphic Designer</strong></a>
            Montaggio video, grafiche web, presentazioni, grafiche cartacee (flyer, brochure, poster), render 3D.<a
                href="https://goo.gl/forms/LBGNAFqvr22oFyYF2"
                class="button extrasmall">Apply</a>
        </li>

        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Vehicle Performance</strong></a>
            Studio degli pneumatici, dinamica del veicolo, definizione dei parametri geometrici della monoposto e simulazione di modelli vettura, cinematica delle sospensioni. In fase di test, ricerca della messa a punto ottimale e analisi DAQ.<a
                href="https://goo.gl/forms/aLpp1Ica8YxjXgXA2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Electronics</strong></a>
            Progettazione, realizzazione e manutenzione di cablaggio, schede elettroniche e sensori. Gestione ECU e PDU. Gestione del pacco batteria per la monoposto elettrica.<a
                href="https://goo.gl/forms/l9x1kleP39nqeLSy1"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Mechanical Structures</strong></a>
            Progettazione, realizzazione, assemblaggio e manutenzione dei componenti strutturali (gruppo ruota, sterzo, trasmissione, impianto frenante e sistema sospensionsioni) sulle indicazioni del reparto dinamica del veicolo e powertrain.<a
                href="https://goo.gl/forms/8sDVW2j0qc8pwg8W2"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Chassis & Ergonomy</strong></a>
            Progettazione, realizzazione e manutenzione del telaio (traliccio per la divisione Combustion, monoscocca per la divisione Electric), sedile, volante, poggiatesta, firewall, e accumulator container. Progettazione strutturale di appendici aerodinamiche in fibra di carbonio.<a
                href="https://goo.gl/forms/qqqBoDaWUKpz1hM13"
                class="button extrasmall">Apply</a>
        </li>
        
        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Areodynamics</strong></a>
            Si occupa dello studio di un pacchetto aerodinamico composto da pance laterali, fondo, ala anteriore e ala posteriore, con l'obiettivo di aumentare l’aderenza a terra e ridurre la resistenza all’avanzamento della vettura.<a 
                href="https://goo.gl/forms/b8rGsgMUpXCc1q5p1"
                class="button extrasmall">Apply</a>
        </li>

        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Electric Powertrain</strong></a>
            Design dell'impianto di raffreddamento di motori e inverter. Design del cablaggio di potenza per la gestione dell'inverter, l'alimentazione e il controllo dei motori. Realizzazione dei componenti e verifica del funzionamento tramite telemetria.<a 
                href="https://goo.gl/forms/ABHDG1bdO7U1Tki12"
                class="button extrasmall">Apply</a>
        </li>

        </li>

        <li><a href="{{ site.baseurl }}/team/members.html"><strong>Combustion Powertrain</strong></a>
            Studio, progettazione, assemblaggio e manutenzione del motore e sue parti interne ( valvole ecc..), aspirazione, farfalla, scarico, sistema di raffreddamento, cambio e sua attuazione. Gestione della mappa motore e analisi DAQ.<a 
                href="https://goo.gl/forms/nMepsS2ae2Fk0GKV2"
                class="button extrasmall">Apply</a>
        </li>
    </ul>
</div>