<div id="careers" style="display: none;">
    <p>
        {% if site.lang == "it" %}Trova la tua prossima opportunità di
        carriera in Race Up. Unisciti a noi nella nostra missione di
        creare macchine da corsa. Se sei interessato al mondo racing e
        automotive, Race Up offre un'ampia offerta con la sola posizione
        per te.
        <br>Cosa stai aspettando?
        <br>
        <strong>Il Race Up Team fa per te!</strong> {% elsif site.lang
        == "en" %}Find your next career opportunity in Race Up. Join us
        in our mission of creating racing cars. If you are interested in
        the racing and automotive world, Race Up offers a wide-ranging
        offer with only one position for you.
        <br>What are you waiting for?
        <br>
        <strong>Race Up Team is all you need!</strong> {% endif %}
    </p>
    <ul>
        <li>
            <a href="{{ site.baseurl }}/team/members.html"><strong>Pilota</strong></a>
            : 1 {% t global.slots %} (electric division)<a
                href="https://goo.gl/forms/pb1JdcQth9sGLX3t2"
                class="button extrasmall">Apply</a></li>
    </ul>
</div>