<section class="wrapper style3 container special-alt" style="margin-top: 2em;"">
	<div class="row" style="text-align: center;">
		<div class="12u">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="HEPAZAA3VUL6A">
					<input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online.">
					<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
			</form>

			<br>

			<form action="https://bitpay.com/checkout" method="post" >
			  <input type="hidden" name="action" value="checkout" />
			  <input type="hidden" name="posData" value="" />
			  <input type="hidden" name="data" value="CbWmqKNPNZBNt3QLfKkVj0apKvdynuHUZMzqzv3Q3fjdmAWSmINN+i4LwaaE202FZewXVJUC2xyf550bejFfEMR8ukraCHwsCM4d4Gp1GhCnu7BNmQZTpuTXZK7y9k1TfZMQ2y/Hx8wfkj6xrEHr2cIOZgGhysPEFl4WSVg5okY=" />
			  <input type="image" src="/images/bitcoin_small.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins." >
			</form>
	</div>
</section>
