<footer id="footer">
<ul class="icons">
<li><a href="https://www.facebook.com/Race-UP-Team-Combustion-440618820789/" title="Combustion division" class="icon circle fa-facebook fa-facebook-cd"><span class="label">Facebook CD</span></a></li>
<li><a href="https://www.facebook.com/Race-UP-Team-Electric-802147286569414/" title="Electric division" class="icon circle fa-facebook fa-facebook-ed"><span class="label">Facebook ED</span></a></li>
<li><a href="https://www.instagram.com/race_up_team/" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>
<li><a href="https://www.youtube.com/user/teamraceup" class="icon circle fa-youtube"><span class="label">Youtube</span></a></li>
<li><a href="mailto:info@raceup.it" class="icon circle fa-envelope"><span class="label">Email</span></a></li>
</ul>
<div class="copyright">
<ul>
<li>&copy; Race Up Team</li>
<li>Design: Race Up Team</li>
<li>Made with &hearts; by Race Up Team</li>
</ul>
Site last generated: {{ site.time | date: "%H:%M:%S %b %-d, %Y" }}
<br>
<br>
</div>
<div>
<a href="https://validator.w3.org/check?uri=http%3A%2F%2Fraceup.github.io"><img src="http://www.w3.org/Icons/valid-html401" alt="Valid HTML 4.01 Transitional" height="25" width="71"></a>
<a href="https://validator.w3.org/check?uri=http%3A%2F%2Fraceup.github.io"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" height="25" width="71"></a>
</div>
</footer>