<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <!-- <li><a href="https://twitter.com/RaceUpTeam" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li> -->
        <!-- <li><a href="https://it.linkedin.com/grps/Race-Up-Team-3555234/about?" class="icon circle fa-linkedin"><span class="label">Linkedin</span></a></li> -->
        <li><a href="https://www.facebook.com/Race-UP-Team-Combustion-440618820789/" title="Combustion division" class="icon circle fa-facebook fa-facebook-cd"><span class="label">Facebook CD</span></a></li>
        <li><a href="https://www.facebook.com/Race-UP-Team-Electric-802147286569414/" title="Electric division" class="icon circle fa-facebook fa-facebook-ed"><span class="label">Facebook ED</span></a></li>
        <li><a href="https://www.instagram.com/race_up_team/" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>
        <!-- <li><a href="https://www.youtube.com/user/teamraceup" class="icon circle fa-youtube"><span class="label">Youtube</span></a></li> -->
        <!-- <li><a href="https://github.com/raceup" class="icon circle fa-github"><span class="label">Github</span></a></li> -->
        <!-- <li><a href="https://bitbucket.org/raceuped" class="icon circle fa-bitbucket"><span class="label">Bitbucket</span></a></li> -->
        <li><a href="mailto:info@raceup.it" class="icon circle fa-envelope"><span class="label">Email</span></a></li>
        <!-- <li><a href="{{ site.baseurl }}/feed.xml" class="icon circle fa-rss"><span class="label">Email</span></a></li> -->
    </ul>

    <ul class="copyright">
        <li>&copy; Race UP Team</li><li>Design: Race UP Team</li>
    </ul>
</footer>