<header id="header">
<h1 id="logo"><a href="/">RaceUp</a></h1>

    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog.html">Blog</a></li>
<li class="submenu">
    <a href="/">Team</a>
    <ul>
        <li><a href="/team_cd.html">Combustion Division</a></li>
        <li><a href="/team_ed.html">Electric Division</a></li>
    </ul>
</li>
<li class="submenu">
    <a href="/">Cars</a>
    <ul>
        <li><a href="/car_mg.html">MG</a></li>
        <li><a href="/car_origine.html">Origin-E</a></li>
    </ul>
</li>
<li class="submenu">
    <a href="/">Sponsors</a>
    <ul>
        <li><a href="/sponsors_cd.html">Combustion Division</a></li>
        <li><a href="/sponsors_cd.html">Electric Division</a></li>
    </ul>
</li>
<li><a href="/about.html">About</a></li>
        </ul>
    </nav>
</header>
