<head>
    <title>{% if page.title %}{% t page.title %}{% else %}{{ site.title }}{% endif %}</title>

    {% if page.url == "/en/404.html" %}
        <title>Page not found</title>
        <meta http-equiv="refresh" content="url=/en/">
    {% elsif page.url == "/404.html" %}
        <title>Pagina non trovata</title>
        <meta http-equiv="refresh" content="url=/">
    {% endif %}
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}" />

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollgress.min.js"></script>

    <!-- prevent FUOC -->
    <style type="text/css">
        .no-fouc {
            display: none;
        }
    </style>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.min.js"></script>
    
    <!-- css -->
    <noscript>
        <link rel="stylesheet" href="/css/style.min.css" />
         <link rel="stylesheet" href="/css/style-wide.min.css" />
        <link rel="stylesheet" href="/css/style-noscript.min.css" />
        <link rel="stylesheet" href="/css/skel.min.css" />
    </noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/logo.png">

    <script src="/js/ga.min.js"></script>  <!-- google analytics -->
</head>
