---
layout: default
title: titles.sponsors_cd
---
<article id="main">
    <header class="special container">
        <span class="icon fa-briefcase"></span>
        <h2>
            {% if site.lang == "it" %}Sponsors in partnership con Race Up
            Combustion Division{% elsif site.lang == "en" %}Sponsors in
            partnership with Race Up Combustion Division{% endif %}
        </h2>
        <p>
            {% if site.lang == "it" %}
            Il progetto Race Up prosegue e si migliora ogni anno grazie al
            prezioso contributo economico e professionale di un nostro gruppo di
            affezionati partners. È grazie a loro se ogni anno Race Up può
            crescere e migliorare le prestazioni della propria vettura. Il
            nostro ringraziamento va a
            {% elsif site.lang == "en" %}
            Thanks to a group of loyal partners and to the valuable, economic
            and professional contributions, Race Up project goes on and keeps
            improving every year. Thanks to their help, Race up grows and
            improves car performance. Our gratitude goes to:
            {% endif %}
        </p>
    </header>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div>
                <section>
                    <a name="oz" class="image featured"
                       href="http://www.ozracing.it"><span class="caption">OZ Racing nasce da un’autentica passione per le ruote. Fondata nel 1971, è una leggenda nel mondo automobilistico. OZ in quarant’anni ha collaborato con le più esclusive case automobilistiche: Ferrari, Lamborghini, Maserati, Aston Martin e Lotus, McLaren. Collaborazioni che hanno dato vita a cerchi esclusivi, conservati con cura nel museo presso la sede di San Martino di Lupari a Padova.
                    </span><img
                            src="/images/sponsors/oz.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <section class="8u">
                    <a name="compositex" class="image featured"
                       href="http://www.compositex.com/"><span class="caption">Compositex si occupa di lavorazione di materiali, costruzione di telai per auto da competizione; costruzione di particolari in composito per i settori aeronautico, automobilistico, nautico, ciclistico, motociclistico e in genere per competizioni; riparazione di scocche e pezzi in composito per vari settori; commercializzazione di particolari in materiali compositi.
                    </span><img
                            src="/images/sponsors/compositex.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <section class="8u">
                    <a name="efestolab" class="image featured"
                       href="http://www.efestolab.com/"><span class="caption">Efesto Lab è un’azienda di SERVICE NELLA STAMPA 3D rivolta alla continua ricerca delle novità per poter ampliare la qualità e l’offerta nel campo dell’additive manufacturing.
                    </span><img
                            src="/images/sponsors/logo_efesto.png"></a>
                </section>
            </div>
        </div>
    </section>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="6u">
                <section>
                    <a name="3dfast" class="image featured"
                       href="http://www.3dfast.it/"><span class="caption">Azienda del padovano specializzata in prototipazione rapida e stampa 3D di metalli e materie plastiche. Da sempre al passo con la tecnolgia e all’avanguardia nella tecnica.
                    </span><img
                            src="/images/sponsors/cd/1/3d fast.png"></a>
                </section>
            </div>
            <div class="6u">
                <section>
                    <a name="angeloni" class="image featured"
                       href="http://www.g-angeloni.it"><span class="caption">La ditta Angeloni è leader nel settore dei materiali compositi grazie alla grande esperienza accumulata in oltre 25 anni di presenza in questo mercato.
                    </span><img
                            src="/images/sponsors/cd/1/Angeloni.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="6u">
                <section>
                    <a name="stipsrl" class="image featured"
                       href="http://www.stipsrl.it"><span class="caption">Fondata nel 1969 a Schio (Vicenza) la ditta S.Ti.P. S.r.l. è una modelleria altamente qualificata per la realizzazione di stampi in metallo e vanta una notevole esperienza nella costruzione di modelli per Basamenti Motore, Teste Motore, Scatole Cambio, Assali e Scatole Differenziali.
                    </span><img
                            src="/images/sponsors/cd/1/Stip.png"></a>
                </section>
            </div>
            <div class="6u">
                <section>
                    <a name="bizzotto-automation" class="image featured"
                       href="http://www.bizzottoautomation.com"><span
                            class="caption">La Bizzotto Automation è una delle realtà più originali nel settore dell’industria meccanica. Grazie alla costante ricerca tecnologica e allo sviluppo di sistemi di automazione sempre più sofisticati, ha ampliato i propri orizzonti proponendosi come fornitore di macchine totalmente personalizzate per vari comparti industriali. In questo modo ha focalizzato la propria prerogativa di completa partnership con il cliente, che si esplica, appunto, nella capacità di comprenderne le esigenze e di approntare soluzioni su misura.
                    </span><img
                            src="/images/sponsors/cd/1/bizzotto giovanni 2.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="6u">
                <section>
                    <a name="buson" class="image featured"
                       href="http://www.buson.it"><span class="caption">Dal 1972 lavora nel settore della meccanica di alta precisione e della carpenteria leggera, supportando il cliente in tutte le esigenze produttive: tornitura, fresatura, saldatura, taglio laser e lavorazione lamiera.
                    </span><img
                            src="/images/sponsors/cd/1/buson colorato.png"></a>
                </section>
            </div>
            <div class="6u">
                <section>
                    <a name="metalvenice" class="image featured"
                       href="http://www.metalvenice.it"><span class="caption">Metalvenice Srl realizza verniciature su carbonio e fibre composite per i grandi marchi del MADE IN ITALY. Passione per il lavoro, attenzione rivolta al cliente e alla risoluzione delle sue esigenze, volontà nel superare eventuali problematiche produttive, sempre e comunque, davanti ad ogni tipo di ostacolo tecnico. Questa è la filosofia dell’azienda veneta che è “partner del cliente”.
                    </span><img
                            src="/images/sponsors/cd/1/metalvenice.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="6u">
                <section>
                    <a name="mptorneria" class="image featured"
                       href="http://www.mptorneria.com"><span class="caption">Fondata nel 1973, Meccanica Padovan è fornitore di speciali parti lavorate e opera a stretto contatto con molte delle più importanti squadre del Motorsport. Il continuo investimento in nuove tecnologie per soddisfare le esigenze sempre più specifiche dei clienti ha portato alla collaborazione con le più importanti aziende automobilistiche.
                    </span><img
                            src="/images/sponsors/cd/1/meccaniche padovan 2.png"></a>
                </section>
            </div>
            <div class="6u">
                <section>
                    <a name="rossi" class="image featured" href="http://www.rossidevelopment.it/"><span
                            class="caption">
                        L’azienda Rossi Racing nasce, nel 2002, dalla passione per il mondo delle corse del titolare Gianluca Rossi. Decide di dedicarsi all’azienda dopo aver maturato importanti competenze nel mondo dei motori. Rossi Racing ha collaborato con importanti team (tra cui Husqvarna Motorcycles, Reitwagen) per lo sviluppo di motori racing che hanno portato a esiti più che soddisfacenti. Nel 2011 esordisce al campionato AMA con KTM LC8 e nel campionato Coppa Italia con BMW E46 raggiungendo ottime performance.
                    </span><img
                            src="/images/sponsors/cd/1/rossi.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="6u">
                <section>
                    <a name="meccanicampz" class="image featured"
                       href="http://www.meccanicampz.it/"><span
                            class="caption">
                        MPZ srl nasce dall'esperienza trentennale del suo fondatore Gianni Zanini.
Forte dell'esperienza maturata nel corso della sua vita professionale nel mondo della meccanica, decide nel 2006 di iniziare una propria attività di meccanica di precisione per conto terzi.
Grazie all'impegno e all'alta professionalità dei suoi collaboratori, l'azienda in pochi anni, raggiunge importanti obiettivi in termini di fatturato e di clienti acquisiti.
                    </span><img
                            src="/images/sponsors/cd/1/mpz.png"></a>
                </section>
            </div>
            <div class="6u">
                <section>
                    <a name="zf" class="image featured" href="https://www.zf.com"><span
                            class="caption">
                        ZF è uno dei più importanti gruppi tecnologici al mondo, specializzato nel settore delle trasmissioni e dei sistemi autotelaio, nonché della tecnologia di sicurezza attiva e passiva. ZF è presente sul mercato italiano dal 1951 come fornitore di primo equipaggiamento di impianti sterzo per la “Giulietta” dell’Alfa Romeo
Le principali aree di business di ZF Italia comprendono l’automotive, l’automazione industriale, il settore marino, il rail ferroviario e il settore eolico.
                    </span><img
                            src="/images/sponsors/cd/1/zf.png"></a>
                </section>
            </div>
        </div>
    </section>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="alth" class="image featured"
                       href="http://www.alth.it"><span class="caption">Alth è un’azienda produttrice di dischi e pastiglie freno per i grandi marchi delle due ruote.
                    </span><img
                            src="/images/sponsors/cd/2/Alth.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="cometecmeccanica" class="image featured"
                       href="http://www.cometecmeccanica.it/"><span
                            class="caption">Cometec meccanica nasce nel 1998 come officina meccanica per lavorazioni di precisione, carpenterie meccaniche, attrezzature speciali, aggiustaggi ed assemblaggi meccanici.
                    </span><img
                            src="/images/sponsors/cd/2/COMETEC.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="eulithe" class="image featured"
                       href="http://www.eulithe.com"><span class="caption">Eulithe, azienda giovane e dinamica, ha introdotto per prima, brevettandolo, un nuovo espanso poliuretanico rigido come supporto leggero per materiali lapidei e come anima strutturale per compositi sandwich “core material”.
                    </span><img
                            src="/images/sponsors/cd/2/EULITHE.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="freemracing" class="image featured"
                       href="http://www.freemracing.it"><span class="caption">
L’azienda “FREE MINDS srl” nasce nel 2001 da un gruppo di amici accomunati dalla passione per la tecnologia e l’innovazione, come studio di ricerca e sviluppo per la progettazione di abbigliamento sportivo per altri marchi. FREEM è la prima azienda che è riuscita a fondere il fashion al motorsport.
                    </span><img src="/images/sponsors/cd/2/FREEM.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="loctite" class="image featured"
                       href="http://www.loctite.com"><span class="caption">I prodotti Henkel a marchio LOCTITE sono le soluzioni più affidabili dove sono necessari adesivi, sigillanti e rivestimenti di elevato valore tecnologico ad alte prestazioni. LOCTITE si occupa di Frenafiletti, sigillatura di raccordi filettati, guarnizioni liquide, bloccaggio, adesivi istantanei, adesivi UV, Incollaggio strutturale, stucchi base metallica e rivestimenti protettivi.
                    </span><img src="/images/sponsors/cd/2/LocTITE.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="zanotto" class="image featured"><span
                            class="caption"></span><img
                            src="/images/sponsors/cd/2/zanotto.jpg"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="masoliniradiatori" class="image featured"
                       href="http://www.masoliniradiatori.com/home.html"><span
                            class="caption">
                        Nel 2014 Masolini Group nasce per assimilare e
                        raggruppare in maniera armonica la produzione di
                        radiatori in rame-ottone, la riparazione e revisione di scambiatori di calore e la costruzione di impianti di raffreddamento in lega leggera. L’azienda incorpora la divisione F.R.A.M. Corse
                    </span><img
                            src="/images/sponsors/cd/2/MASOLINI vuoto.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="ptc" class="image featured"
                       href="http://it.ptc.com"><span class="caption">PTC fornisce soluzioni tecnologiche che trasformano le modalità di creazione, gestione e supporto dei prodotti. Le soluzioni PTC consentono di ottenere vantaggi su prodotti e servizi in un mondo intelligente e connesso.
                    </span><img src="/images/sponsors/cd/2/PTC_GRAY.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="robbymotoeng" class="image featured"
                       href="http://www.robbymotoeng.com"><span class="caption">La società nasce  nel 1996 da e per il settore motociclistico con la progettazione e la realizzazione di parti specifiche per ogni tipo di moto. Agli esordi l’attività si concentra esclusivamente sulla progettazione e produzione di parti meccaniche e ciclistiche.
                    </span><img
                            src="/images/sponsors/cd/2/Robby_Moto_nero.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="sorma" class="image featured"
                       href="https://www.sorma.net"><span
                            class="caption">Sorma è uno dei più importanti competitor sui mercati internazionali in 2 divisioni: una focalizzata nella distribuzione di marchi leader nel campo dell'asportazione di truciolo e l'altra nella produzione e distribuzione di utensili abrasivi e super abrasivi (Diamante & CBN).
                        </span><img
                            src="/images/sponsors/cd/2/SORMA.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="titanio" class="image featured"
                       href="http://www.titanio.com"><span class="caption">Torresin Titanio srl è specializzata nello stoccaggio, commercializzazione e taglio a misura di semilavorati di: Titanio, Leghe di Nickel, Duplex, Superduplex, 904L, 254 SMO , Acciai austenitici e Superaustenitici.
                    </span><img
                            src="/images/sponsors/cd/2/Torresin.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="beta" class="image featured" href="http://www.beta-tools.com"><span
                            class="caption">
                        Beta Utensili è Leader nel campo della produzione e vendita di utensili professionali e garantisce la propria presenza sul mercato internazionale con una rete distributiva forte di 7 filiali
                    </span><img
                            src="/images/sponsors/cd/2/beta.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="zamperla" class="image featured"
                       href="http://www.zamperla.com"><span class="caption">La storia dell’azienda, iniziata con un circo equestre, arriva all’artigianato e alla produzione di giostre negli anni 60. Nel 2005 il fondatore diviene il primo italiano ad essere inserito nella Hall of Fame IAAPA.</span><img src="/images/sponsors/cd/2/Zamperla.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="aviorace" class="image featured"
                       href="http://www.aviorace.it"><span class="caption">
Azienda per Hi-Tech Electronic Solutions, specializzata in prodotti come: Amplificatori, bobine, Attrezzatura & Pinze, Cavi & Guaine, Connettori, Iniettori, KIT, Knock Analyser, LED Lights, MoTeC, Pannelli LED, Pulsantiere Moto e Selettori, Raccordi & Tubi AN e Sensori.

                    </span><img src="/images/sponsors/cd/2/aviorace vuoto.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="frt" class="image featured"><span
                            class="caption">
                        FRT nasce nel 2012 sviluppando i prodotti per svariati ambiti, dal rally al drifting, dal turismo alle formula.
                    </span><img
                            src="/images/sponsors/cd/2/frt.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="cemes-moto" class="image featured"
                       href="http://www.cemes-moto.com/"><span class="caption">L’azienda si colloca nel panorama motociclistico sia nazionale che internazionale. Alla CEMES oltre che ad una clientela sportiva, ci si occupa anche della normale utenza con un occhio di riguardo per chi esige qualcosa in più.</span><img
                            src="/images/sponsors/cd/2/cemes.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="cognolato-racing" class="image featured"
                       href="http://www.cognolatoracing.it"><span
                            class="caption">Cognolato Racing, grazie ad un’esperienza ultraventennale nel campo delle competizioni, offre ai propri clienti soluzioni personalizzate per la propria vettura da gara o stradale.</span><img src="/images/sponsors/cd/2/cognolato 11.55.22.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="meccanica-putti" class="image featured"
                       href="http://www.meccanicaputti.it"><span
                            class="caption">Specializzata da più di ventanni nella costruzione di ingranaggi, è in grado grazie all'esperienza ed alla competenza maturata nel corso dei decenni di supportarvi nella produzione e nella progettazioni di particolari dentati.</span><img
                            src="/images/sponsors/cd/2/meccanica putti-bianco.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="plan" class="image featured" href="http://www.planitalia.it/"><span
                            class="caption">
                        Nel corso degli anni PLAN è diventata un'azienda leader nella produzione industrializzata di prodotti in calcestruzzo.
                    </span><img
                            src="/images/sponsors/cd/2/plan.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="tecnocurve" class="image featured"
                       href="http://www.tecnocurve.it"><span class="caption">Da oltre 25 anni la ditta Tecnocurve è specializzata nella deformazione a freddo di tubolari e profilati in genere, siano essi in acciaio, acciaio inossidabile oppure alluminio.
                    </span><img
                            src="/images/sponsors/cd/2/tecnocurve.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="tecnolaser" class="image featured"
                       href="http://www.tecnolaser.com/"><span
                            class="caption">
                        Tecnolaser è una moderna azienda che opera dal 1986 nel settore della lavorazione della lamiera seguendo i più avanzati principi della lean production.
                    </span><img
                            src="/images/sponsors/cd/2/tecnolaser.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="bcomp" class="image featured" href="http://www.bcomp.it/it/bfoam-applicazioni-poliuretano-espanso-rigido/"><span
                            class="caption">
                        L’azienda si occupa di produzione dei materiali compositi di alta qualità e dalle prestazioni eccellenti a livello nazionale e internazionale.
                    </span><img
                            src="/images/sponsors/cd/2/Bcomp.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="henkel" class="image featured"
                       href="https://www.henkel.com/"><span class="caption">
Azienda che si occupa di adesivi e sigillanti industriali a elevate prestazioni. I prodotti Henkel a marchio LOCTITE sono le soluzioni più affidabili dove sono necessari adesivi, sigillanti e rivestimenti di elevato valore tecnologico ad alte prestazioni. LOCTITE si occupa di Frenafiletti, sigillatura di raccordi filettati, guarnizioni liquide, bloccaggio, adesivi istantanei, adesivi UV, Incollaggio strutturale, stucchi base metallica e rivestimenti protettivi.

                    </span><img src="/images/sponsors/cd/2/henkel.png"></a>
                </section>
            </div>
        </div>
    </section>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="art-fer" class="image featured"><span
                            class="caption">
                    </span><img src="/images/sponsors/cd/3/Art fer.jpg"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name=bassano-corse"" class="image featured"
                    ><span class="caption">
                    </span><img src="/images/sponsors/cd/3/BASSANO CORSE.png"/></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="bredaracing" class="image featured"
                       href="http://www.bredaracing.com"><span class="caption">
                    </span><img src="/images/sponsors/cd/3/BREDA RACING.png"/></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="cimaingranaggi" class="image featured"
                       href="http://www.cimaingranaggi.it"><span
                            class="caption">
                    </span><img src="/images/sponsors/cd/3/CIMA.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="dissegna" class="image featured"
                       href="http://www.dissegna.com"><span class="caption">
                    </span><img src="/images/sponsors/cd/3/DISSEGNA.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="dynamecsrl" class="image featured"
                       href="http://www.dynamecsrl.com"><span class="caption">
                    </span><img src="/images/sponsors/cd/3/Dynamec.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="elle-emme" class="image featured"
                       href="http://www.elle-emme.com"><span class="caption">
                    </span><img src="/images/sponsors/cd/3/ELLE-EMME.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="schroth" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/schroth.jpg"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="forestteam" class="image featured"
                       href="http://www.forestteam.it"><span class="caption">
                    </span><img src="/images/sponsors/cd/3/FOREST-TEAM.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="famispa" class="image featured"
                       href="http://www.famispa.com"><span class="caption">
                    </span><img src="/images/sponsors/cd/3/Fami rgb.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="farnell" class="image featured"
                       href="http://www.farnell.com"><span class="caption">
                    </span><img src="/images/sponsors/cd/3/Farnell-element.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="getecno" class="image featured"
                       href="http://www.getecno.com"><span class="caption">
                    </span><img src="/images/sponsors/cd/3/Getecno.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="heller" class="image featured"
                       href="https://it.heller.biz/en"><span
                            class="caption">
                    </span><img src="/images/sponsors/cd/3/heller.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="isrbrakes" class="image featured"
                       href="http://www.isrbrakes.se"><span class="caption">
                    </span><img src="/images/sponsors/cd/3/ISR.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="metalba" class="image featured"
                       href="http://www.metalba.com"><span class="caption">
                    </span><img src="/images/sponsors/cd/3/Metalba.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="pakelo" class="image featured"
                       href="http://www.pakelo.com"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/PAKELO.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="protomaker" class="image featured"
                       href="http://protomaker.wix.com/protomaker"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/PROTOMAKER.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="ricardo" class="image featured"
                       href="http://www.ricardo.com"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/Ricardo2.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="tecno2" class="image featured"
                       href="http://www.tecno2.it/cms/"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/TECNO2.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="wow" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/WOW.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="allegricesare" class="image featured"
                       href="http://www.allegricesare.com"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/allegri.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="giefferacing" class="image featured"
                       href="http://www.giefferacing.com"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/gieffe-racing.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="nuova-tempra" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/nuova-tempra.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="metalplasma" class="image featured"
                       href="http://www.metalplasma.it"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/metalplasma 2.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="ninjapaintball" class="image featured"
                       href="http://www.ninjapaintball.com"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/ninja.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="olmas" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/olmas.jpg"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="schaeffler" class="image featured"
                       href="http://www.schaeffler.com"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/schaffler scritta.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="stal-plast" class="image featured"
                       href="http://www.stal-plast.com"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/stalplast-logo-grande.jpg"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="tecnogisrl" class="image featured"
                       href="http://www.tecnogisrl.it/"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/tecnogi.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="texense" class="image featured"
                       href="https://www.texense.com/"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/texense.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="zracing" class="image featured"
                       href="http://www.zracing.ca"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/zracing.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="altair" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/altair.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="unit" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/unit.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="ext" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/ext.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="fd" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/fd.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="microtex" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/microtex.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="cebora" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/cebora.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="freem" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/freem.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="mattarollo" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/mattarollo.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="sintesi" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/sintesi.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="rohm-italia" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/rohm-italia.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="cdadapco" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/cdadapco.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="cfp" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/cfp.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="help3d" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/help3d.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="ltm" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/ltm.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="omc" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/omc.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="prochima" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/prochima.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="sensata" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/sensata.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="baap" class="image featured"><span
                            class="caption">
                    </span><img
                            src="/images/sponsors/cd/3/baap.png"></a>
                </section>
            </div>
        </div>
    </section>
</article>