---
layout: default
title: titles.sponsors_cd
---
<article id="main">
    <header class="special container">
        <span class="icon fa-briefcase"></span>
        <h2>
            {% if site.lang == "it" %}Sponsors in partnership con Race Up
            Combustion Division{% elsif site.lang == "en" %}Sponsors in
            partnership with Race Up Combustion Division{% endif %}
        </h2>
        <p>
            {% if site.lang == "it" %}
            Il progetto Race Up prosegue e si migliora ogni anno grazie al
            prezioso contributo economico e professionale di un nostro gruppo di
            affezionati partners. È grazie a loro se ogni anno Race UP può
            crescere e migliorare le prestazioni della propria vettura. Il
            nostro ringraziamento va a
            {% elsif site.lang == "en" %}
            Thanks to a group of loyal partners and to the valuable, economic
            and professional contributions, Race UP project goes on and keeps
            improving every year. Thanks to their help, Race up grows and
            improves car performance. Our gratitude goes to:
            {% endif %}
        </p>
    </header>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div>
                <section class="6u">
                    <a name="unipd" class="image featured"
                    href="http://www.unipd.it"><span class="caption">
                        {% if site.lang == "it" %}
                        L'Università degli Studi di Padova, è una università statale italiana fondata nel 1222, fra le più antiche al mondo. L'università di Padova rappresenta uno dei casi paradigmatici di Ateneo medievale nato dalla migrazione di un gruppo di studenti provenienti dalla preesistente sede universitaria di Bologna.
                        {% elsif site.lang == "en" %}
                        The University of Padua is an Italian statal university founded in 1222, one of the oldest in the world. The University of Padua is one of the paradigmatic cases of the medieval University born from the migration of a group of students from the pre-existing university of Bologna.
                        {% endif %}
                    </span><img src="/images/sponsors/unipd.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <section class="6u">
                    <a name="oz" class="image featured"
                    href="http://www.ozracing.it"><span class="caption">
                        {% if site.lang == "it" %}
                        OZ Racing nasce da un’autentica passione per le ruote. Fondata nel 1971, è una leggenda nel mondo automobilistico. OZ in quarant’anni ha collaborato con le più esclusive case automobilistiche: Ferrari, Lamborghini, Maserati, Aston Martin e Lotus, McLaren. Collaborazioni che hanno dato vita a cerchi esclusivi, conservati con cura nel museo presso la sede di San Martino di Lupari a Padova.
                        {% elsif site.lang == "en" %}
                        OZ Racing is born from an authentic passion for the wheels. Founded in 1971, it is a legendary company in the automotive world. OZ in forty years has worked with the most exclusive automakers: Ferrari, Lamborghini, Maserati, Aston Martin and Lotus, McLaren. Collaborations that gave birth to exclusive wheels, carefully preserved in the museum in the headquarters of San Martino di Lupari in Padua.
                        {% endif %}
                    </span><img src="/images/sponsors/oz.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <section class="6u">
                    <a name="compositex" class="image featured"
                    href="http://www.compositex.com/"><span class="caption">
                        {% if site.lang == "it" %}
                        COMPOSITEX si occupa di lavorazione di materiali, costruzione di telai per auto da competizione; costruzione di particolari in composito per i settori aeronautico, automobilistico, nautico, ciclistico, motociclistico e in genere per competizioni; riparazione di scocche e pezzi in composito per vari settori; commercializzazione di particolari in materiali compositi.
                        {% elsif site.lang == "en" %}
                        Compositex deals with materials processing, competition cars’ frame construction; construction of composite details for aeronautical, automotive, nautical areas, cycling, motorcyclists and in general for competitions; repair of scooters and pieces in composite materials for various sectors; commercialization of particulars in composite materials.
                        {% endif %}
                    </span><img src="/images/sponsors/compositex.png"></a>
                </section>
            </div>
        </div>
    </section>



    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="stipsrl" class="image featured"
                    href="http://www.stipsrl.it"><span class="caption">
                      {% if site.lang == "it" %}
                      Fondata nel 1969 a Schio (Vicenza) la ditta S.Ti.P. S.r.l. è una modelleria altamente qualificata per la realizzazione di stampi in metallo e vanta una notevole esperienza nella costruzione di modelli per Basamenti Motore, Teste Motore, Scatole Cambio, Assali e Scatole Differenziali.
                      {% elsif site.lang == "en" %}
                      Founded in 1969 in Schio (Vicenza), S.Ti.P. Srl it is a highly qualified model for the production of metal molds and boasts considerable experience in the construction of models for Engine Bases, Engine Heads, Gearboxes, Axles and Differential Boxes.
                      {% endif %}
                  </span><img
                  src="/images/sponsors/cd/1/Stip.png"></a>
              </section>
          </div>
          <div class="4u">
            <section>
                <a name="metalvenice" class="image featured"
                href="http://www.metalvenice.it"><span class="caption">
                  {% if site.lang == "it" %}
                  Metalvenice Srl realizza verniciature su carbonio e fibre composite per i grandi marchi del MADE IN ITALY. Passione per il lavoro, attenzione rivolta al cliente e alla risoluzione delle sue esigenze, volontà nel superare eventuali problematiche produttive, sempre e comunque, davanti ad ogni tipo di ostacolo tecnico. Questa è la filosofia dell’azienda veneta che è “partner del cliente”.
                  {% elsif site.lang == "en" %}
                  Metalvenice Srl realizes painting on fiber and composite fiber for big brands of MADE IN ITALY. Passion for work, attention to customers and production problems, always and in any case, when challenged by technical obstacles. This is the philosophy of the Venetian company that is "customer partner".
                  {% endif %}
              </span><img src="/images/sponsors/cd/1/metalvenice.png"></a>
          </section>
      </div>
      <div class="4u">
        <section>
            <a name="mptorneria" class="image featured"
            href="http://www.mptorneria.com"><span class="caption">
              {% if site.lang == "it" %}
              Fondata nel 1973, Meccanica Padovan è fornitore di speciali parti lavorate e opera a stretto contatto con molte delle più importanti squadre del Motorsport. Il continuo investimento in nuove tecnologie per soddisfare le esigenze sempre più specifiche dei clienti ha portato alla collaborazione con le più importanti aziende automobilistiche.
              {% elsif site.lang == "en" %}
              Established in 1973, Meccanica Padovan provides special components and works with some of the most powerful teams in Motorsport. The continuous research of new technologies to fulfil the expectations of the teams has led the company in many collaborations with some of the biggest brands in the automotive panorama.
              {% endif %}
          </span><img
          src="/images/sponsors/cd/1/meccaniche-padovan-2.png"></a>
      </section>
  </div>
</div>
<div class="row" align="center">
    <div class="4u">
        <section>
            <a name="rossi" class="image featured" href="http://www.rossidevelopment.it/"><span
                class="caption">
                {% if site.lang == "it" %}
                L’azienda Rossi Racing nasce, nel 2002, dalla passione per il mondo delle corse del titolare Gianluca Rossi. Decide di dedicarsi all’azienda dopo aver maturato importanti competenze nel mondo dei motori. Rossi Racing ha collaborato con importanti team (tra cui Husqvarna Motorcycles, Reitwagen) per lo sviluppo di motori racing che hanno portato a esiti più che soddisfacenti. Nel 2011 esordisce al campionato AMA con KTM LC8 e nel campionato Coppa Italia con BMW E46 raggiungendo ottime performance.
                {% elsif site.lang == "en" %}
                Rossi Racing, was established in 2002 from the passion of the founder Gianluca Rossi for the Motorsport world. He decided to fully dedicate himself to the company after gaining experience in the automotive world. Rossi Racing collaborated with many important teams (such as Husqvarna Motorcycles and Reitwagen) to develop racing engines that later achieved the expected results. In 2011 entered in the AMA championship with KTM LC8 and in Coppa Italia with a BMW E46, collecting good results.
                {% endif %}
            </span><img src="/images/sponsors/cd/1/rossi.png"></a>
        </section>
    </div>
    <div class="4u">
        <section>
            <a name="zf" class="image featured" href="https://www.zf.com"><span
                class="caption">
                {% if site.lang == "it" %}
                ZF è uno dei più importanti gruppi tecnologici al mondo, specializzato nel settore delle trasmissioni e dei sistemi autotelaio, nonché della tecnologia di sicurezza attiva e passiva. ZF è presente sul mercato italiano dal 1951 come fornitore di primo equipaggiamento di impianti sterzo per la “Giulietta” dell’Alfa Romeo
                Le principali aree di business di ZF Italia comprendono l’automotive, l’automazione industriale, il settore marino, il rail ferroviario e il settore eolico.
                {% elsif site.lang == "en" %}
                ZF is one of the most important technology groups in the world. It works in the transmission and chassis system sectors, and also in the active and passive technology security. ZF have operated in Italy since 1951: now it is a Alfa Romeo supplier of “Giulietta” first equipment for steering system. Main ZF business italian areas are: automotive sector, industrial automotive sector, marine sector, railway and wind industry.
                {% endif %}
            </span><img
            src="/images/sponsors/cd/1/zf.png"></a>
        </section>
    </div>
    <div class="4u">
        <section>
            <a name="3dfast" class="image featured"
            href="http://www.3dfast.it/"><span class="caption">
                {% if site.lang == "it" %}
                3dfast
                {% elsif site.lang == "en" %}
                3dfast
                {% endif %}
            </span><img src="/images/sponsors/cd/1/3d fast.png"></a>
        </section>
    </div>
</div>
<div class="row" align="center">
    <div class="4u">
        <section>
            <a name="meccanica-putti" class="image featured"
            href="http://www.3dfast.it/"><span class="caption">
                {% if site.lang == "it" %}
                Meccanica Putti
                {% elsif site.lang == "en" %}
                Meccanica Putti
                {% endif %}
            </span><img src="/images/sponsors/cd/1/putti.png"></a>
        </section>
    </div>
    <div class="4u">
        <section>
            <a name="tecnocurve" class="image featured"
            href="https://www.tecnocurve.com/"><span class="caption">
                Tecnocurve
            </span><img src="/images/sponsors/cd/2/tecnocurve.png"></a>
        </section>
    </div>
</div>
</section>



<section class="wrapper style3 container">
    <div class="row" align="center">
        <div class="3u">
            <section>
                <a name="cometecmeccanica" class="image featured"
                href="http://www.cometecmeccanica.it/"><img
                src="/images/sponsors/cd/2/COMETEC.png"></a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="frt" class="image featured" href="https://www.facebook.com/frtmotorsport/"><img
                    src="/images/sponsors/cd/2/frt.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="metaltech" class="image featured"
                    href="http://www.metal-tech.it/"><img
                    src="/images/sponsors/cd/2/metaltech.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="intergrafica" class="image featured"
                    href="http://www.intergraficavr.com/"><img
                    src="/images/sponsors/ed/2/intergraficavr.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="sisma" class="image featured"
                    href="http://www.sisma.com/ita/"><img
                    src="/images/sponsors/cd/2/SISMA.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="altair" class="image featured"
                    href="https://www.altair.com/"><img
                    src="/images/sponsors/ed/2/altair.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="angeloni" class="image featured"
                    href=""><img
                    src="/images/sponsors/ed/2/angeloni.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="fdmotors" class="image featured"
                    href=""><img
                    src="/images/sponsors/cd/2/fd.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="fdmotors" class="image featured"
                    href=""><img
                    src="/images/sponsors/cd/2/fd.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="pratoverde" class="image featured"
                    href="http://www.pratoverde.it/"><img
                    src="/images/sponsors/cd/2/pratoverde.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="ptc" class="image featured"
                    href=""><img
                    src="/images/sponsors/cd/2/ptc.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="weller" class="image featured"
                    href="https://www.weller-tools.com/en/Home.html"><img
                    src="/images/sponsors/ed/2/weller.png"></a>
                </section>
            </div>
        </div>
    </section>



    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="nuova-tempra" class="image featured" href="www.nuovatempra.it/"><img src="/images/sponsors/ed/3/nuova-tempra.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="henkel" class="image featured" href="https://www.henkel.it/"><img src="/images/sponsors/ed/3/loctite.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="microtex" class="image featured" href="https://www.henkel.it/"><img src="/images/sponsors/ed/3/microtex.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="rohm" class="image featured" href=""><img src="/images/sponsors/ed/3/rohm.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="alth" class="image featured" href="http://www.alth.it/default.asp?content=1,1,0,0,0,Home,00.html"><img src="/images/sponsors/cd/3/Alth.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="alticolor" class="image featured" href="https://www.alticolor.com/"><img src="/images/sponsors/cd/3/alticolor.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
          <div class="2u">
            <section>
                <a name="bcomp" class="image featured" href=""><img src="/images/sponsors/cd/3/Bcomp.png"></a>
            </section>
        </div>
        <div class="2u">
            <section>
                <a name="bizzotto" class="image featured" href="www.bizzottoautomation.com/"><img src="/images/sponsors/cd/3/bizzotto.png"></a>
            </section>
        </div>
        <div class="2u">
            <section>
                <a name="brusamarello" class="image featured" href="www.brusamarello.com/it"><img src="/images/sponsors/cd/3/brusamarello.png"></a>
            </section>
        </div>
        <div class="2u">
            <section>
                <a name="cfp" class="image featured" href="www.cfp-srl.it/"><img src="/images/sponsors/cd/3/cfp.png"></a>
            </section>
        </div>
        <div class="2u">
            <section>
                <a name="comel" class="image featured" href="http://www.comel.it/"><img src="/images/sponsors/cd/3/comel.png"></a>
            </section>
        </div>
        <div class="2u">
            <section>
                <a name="csc" class="image featured" href=""><img src="/images/sponsors/cd/3/csc.png"></a>
            </section>
        </div>
    </div>
    <div class="row" align="center">
       <div class="2u">
        <section>
            <a name="cts" class="image featured" href="www.serigrafiacts.com/"><img src="/images/sponsors/cd/3/cts.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="dynamec" class="image featured" href="http://www.dynamecsrl.com"><img src="/images/sponsors/cd/3/Dynamec.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="elle-emme" class="image featured" href="http://www.elle-emme.com"><img src="/images/sponsors/cd/3/ELLE-EMME.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="edo vigna racing" class="image featured" href="www.edovignaracing.com/"><img src="/images/sponsors/cd/3/evr.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="form" class="image featured" href="http://www.formstampi.it"><img src="/images/sponsors/cd/3/form.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="italfer" class="image featured" href="http://www.italferpd.it/it"><img src="/images/sponsors/cd/3/italfer.png"></a>
        </section>
    </div>
    </div>
<div class="row" align="center">
    <div class="2u">
        <section>
            <a name="masolini" class="image featured" href="http://www.masoliniradiatori.com/home.html"><img src="/images/sponsors/cd/3/masolini.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="metalba" class="image featured" href="www.metalba.com/"><img src="/images/sponsors/cd/3/Metalba.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="metalplasma" class="image featured" href="www.metalplasma.it/"><img src="/images/sponsors/cd/3/metalplasma.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="norani" class="image featured" href="https://www.norani.eu/"><img src="/images/sponsors/cd/3/norani.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="pakelo" class="image featured" href="www.pakelo.com/"><img src="/images/sponsors/cd/3/PAKELO.png"></a>
        </section>
    </div>
  <div class="2u">
    <section>
        <a name="pirollo" class="image featured" href="https://www.pirollo.it/"><img src="/images/sponsors/cd/3/pirollo.png"></a>
    </section>
</div>
</div>
<div class="row" align="center">
<div class="2u">
    <section>
        <a name="pista azzurra" class="image featured" href="http://www.pista-azzurra.com/"><img src="/images/sponsors/cd/3/pista-azzurra.png"></a>
    </section>
</div>
<div class="2u">
    <section>
        <a name="robby moto" class="image featured" href="www.robbymotoeng.com/"><img src="/images/sponsors/cd/3/robby.png"></a>
    </section>
</div>
<div class="2u">
    <section>
        <a name="schroth" class="image featured" href="https://www.schroth.com/de/"><img src="/images/sponsors/cd/3/schroth.png"></a>
    </section>
</div>
<div class="2u">
    <section>
        <a name="sitta" class="image featured" href="http://www.sitta.it//"><img src="/images/sponsors/cd/3/Sitta.png"></a>
    </section>
</div>
<div class="2u">
    <section>
        <a name="spal" class="image featured" href="/"><img src="/images/sponsors/cd/3/spal.png"></a>
    </section>
</div>
    <div class="2u">
        <section>
            <a name="titanium" class="image featured" href=""><img src="/images/sponsors/cd/3/titanium.png"></a>
        </section>
    </div>
    </div>
<div class="row" align="center">
    <div class="2u">
        <section>
            <a name="torresin" class="image featured" href="www.titanio.com/"><img src="/images/sponsors/cd/3/Torresin.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="zamperla" class="image featured" href=""><img src="/images/sponsors/cd/3/Zamperla.png"></a>
        </section>
    </div>
    <div class="2u">
        <section>
            <a name="sorma" class="image featured" href="https://www.sorma.net/it"><img src="/images/sponsors/cd/3/sorma.png"></a>
        </section>
    </div>
</div>
</section>



<section class="wrapper style3 container">
    <div class="row" align="center">
        <div class="3u">
            <section>
                <a name="baap" class="featured">Baap</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="dissegna" class="featured"
                href="http://www.dissegna.com">Dissegna</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="farnell" class="featured"
                href="http://www.farnell.com">Farnell</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="stal-plast" class="featured"
                href="http://www.stal-plast.com">Stal Plast</a>
            </section>
        </div>
    </div>
    <div class="row" align="center">
        <div class="3u">
            <section>
                <a name="texense" class="featured"
                href="https://www.texense.com/">Texense</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="sensata" class="featured" href="https://www.sensata.com/">Sensata</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="ltm" class="featured">Ltm</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="aviorace" class="featured"
                href="http://www.aviorace.it">Aviorace</a>
            </section>
        </div>
    </div>
    <div class="row" align="center">
        <div class="3u">
            <section>
                <a name="fami" class="featured"
                href="https://www.famispa.com/">Fami</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="farnell" class="featured"
                href="https://it.farnell.com/">Farnell</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="rizzato" class="featured"
                href="https://mollificiorizzato.com/">Mollificio Rizzato</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="righetti" class="featured"
                href="https://www.righettiridolfi.com/">Righetti & Ridolfi</a>
            </section>
        </div>
    </div>
    <div class="row" align="center">
        <div class="3u">
            <section>
                <a name="tecno2" class="featured"
                href="https://www.tecno2.it/">Tecno 2</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="tecnolaser" class="featured"
                href="https://www.tecnolaser.com/">Tecnolaser</a>
            </section>
        </div>
        <div class="3u">
            <section>
                <a name="tecnomec" class="featured"
                href="">Tecnomec</a>
            </section>
        </div>
    </div>
</section>
</article>
