---
layout: default
title: titles.sponsors_cd
---
<article id="main">
    <header class="special container">
        <span class="icon fa-briefcase"></span>
        <h2>
            {% if site.lang == "it" %}Sponsors in partnership con Race UP
            Combustion Division{% elsif site.lang == "en" %}Sponsors in
            partnership with Race UP Combustion Division{% endif %}
        </h2>
        <p>
            {% if site.lang == "it" %}
            Il progetto Race UP prosegue e si migliora ogni anno grazie al
            prezioso contributo economico e professionale di un nostro gruppo di
            affezionati partners. È grazie a loro se ogni anno Race UP può
            crescere e migliorare le prestazioni della propria vettura. Il
            nostro ringraziamento va a
            {% elsif site.lang == "en" %}
            Thanks to a group of loyal partners and to the valuable, economic
            and professional contributions, Race UP project goes on and keeps
            improving every year. Thanks to their help, Race UP grows and
            improves car performance. Our gratitude goes to:
            {% endif %}
        </p>
    </header>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div>
                <section class="6u">
                    <a name="unipd" class="image featured" href="http://www.unipd.it"><span class="caption">
                            {% if site.lang == "it" %}
                            L'Università degli Studi di Padova, è una università statale italiana fondata nel 1222, fra
                            le più antiche al mondo. L'università di Padova rappresenta uno dei casi paradigmatici di
                            Ateneo medievale nato dalla migrazione di un gruppo di studenti provenienti dalla
                            preesistente sede universitaria di Bologna.
                            {% elsif site.lang == "en" %}
                            The University of Padua is an Italian statal university founded in 1222, one of the oldest
                            in the world. The University of Padua is one of the paradigmatic cases of the medieval
                            University born from the migration of a group of students from the pre-existing university
                            of Bologna.
                            {% endif %}
                        </span><img src="/images/sponsors/unipd.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <section class="6u">
                    <a name="oz" class="image featured" href="http://www.ozracing.it"><span class="caption">
                            {% if site.lang == "it" %}
                            OZ Racing nasce da un’autentica passione per le ruote. Fondata nel 1971, è una leggenda nel
                            mondo automobilistico. OZ in quarant’anni ha collaborato con le più esclusive case
                            automobilistiche: Ferrari, Lamborghini, Maserati, Aston Martin e Lotus, McLaren.
                            Collaborazioni che hanno dato vita a cerchi esclusivi, conservati con cura nel museo presso
                            la sede di San Martino di Lupari a Padova.
                            {% elsif site.lang == "en" %}
                            OZ Racing is born from an authentic passion for the wheels. Founded in 1971, it is a
                            legendary company in the automotive world. OZ in forty years has worked with the most
                            exclusive automakers: Ferrari, Lamborghini, Maserati, Aston Martin and Lotus, McLaren.
                            Collaborations that gave birth to exclusive wheels, carefully preserved in the museum in the
                            headquarters of San Martino di Lupari in Padua.
                            {% endif %}
                        </span><img src="/images/sponsors/oz.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <section class="6u">
                    <a name="compositex" class="image featured" href="http://www.compositex.com/"><span class="caption">
                            {% if site.lang == "it" %}
                            COMPOSITEX si occupa di lavorazione di materiali, costruzione di telai per auto da
                            competizione; costruzione di particolari in composito per i settori aeronautico,
                            automobilistico, nautico, ciclistico, motociclistico e in genere per competizioni;
                            riparazione di scocche e pezzi in composito per vari settori; commercializzazione di
                            particolari in materiali compositi.
                            {% elsif site.lang == "en" %}
                            Compositex deals with materials processing, competition cars’ frame construction;
                            construction of composite details for aeronautical, automotive, nautical areas, cycling,
                            motorcyclists and in general for competitions; repair of scooters and pieces in composite
                            materials for various sectors; commercialization of particulars in composite materials.
                            {% endif %}
                        </span><img src="/images/sponsors/compositex.png"></a>
                </section>
            </div>
        </div>
    </section>



    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="metalvenice" class="image featured" href="http://www.metalvenice.it"><span class="caption">
                            {% if site.lang == "it" %}
                            Metalvenice Srl realizza verniciature su carbonio e fibre composite per i grandi marchi del
                            MADE IN ITALY. Passione per il lavoro, attenzione rivolta al cliente e alla risoluzione
                            delle sue esigenze, volontà nel superare eventuali problematiche produttive, sempre e
                            comunque, davanti ad ogni tipo di ostacolo tecnico. Questa è la filosofia dell’azienda
                            veneta che è “partner del cliente”.
                            {% elsif site.lang == "en" %}
                            Metalvenice Srl realizes painting on fiber and composite fiber for big brands of MADE IN
                            ITALY. Passion for work, attention to customers and production problems, always and in any
                            case, when challenged by technical obstacles. This is the philosophy of the Venetian company
                            that is "customer partner".
                            {% endif %}
                        </span><img src="/images/sponsors/team/1/metalvenice.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="3dfast" class="image featured" href="http://www.3dfast.it/"><span class="caption">
                            {% if site.lang == "it" %}
                            3dfast
                            {% elsif site.lang == "en" %}
                            3dfast
                            {% endif %}
                        </span><img src="/images/sponsors/team/1/3d fast.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="zuken" class="image featured" href="https://www.zuken.com/it/"><span class="caption">
                            {% if site.lang == "it" %}
                            Zuken collaabora con aziende mondiali per ottimizzare i processi di progettazione elettrica ed elettronica, grazie alla disponibilità di prodotti software e servizi di consulenza.																
                            {% elsif site.lang == "en" %}
                            Zuken collaborates with global companies to optimize electrical and electronic design processes, thanks to the availability of software products and consulting services.																
                            {% endif %}
                        </span><img src="/images/sponsors/team/1/zuken.png"></a>
                </section>
            </div>
        </div>

        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="olmas" class="image featured" href="https://www.olmasfrascara.it/"><span class="caption">
                            {% if site.lang == "it" %}
                            Olmas srl Frascara è un'officina meccanica di precisione.
                            {% elsif site.lang == "en" %}
                            Olmas srl Frascara is a precision mechanical workshop.	
                            {% endif %}
                        </span><img src="/images/sponsors/cd/1/olmas.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="acme" class="image featured" href="https://www.acme-racing.com/"><span class="caption">
                            {% if site.lang == "it" %}
                            Acme racing è un'officina che si occupa di auto racing e stradali, fornendo i migliori componenti a tutti i loro clienti.		
                            {% elsif site.lang == "en" %}
                            Acme racing is a workshop that deals with racing and road cars, providing the best components to all their customers.		
                            {% endif %}
                        </span><img src="/images/sponsors/cd/1/acme.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="brothers" class="image featured" href="http://www.brothersmeccanica.com/it/"><span class="caption">
                            {% if site.lang == "it" %}
                            Nata nel 1985 in Veneto, Brother's realizza lavorazioni meccaniche di alta precisione e prodotti ad alto contenuto tecnologico.			
                            {% elsif site.lang == "en" %}
                            Founded in 1985 in Veneto, Brother's manufactures high-precision mechanical machining and high-tech products.		
                            {% endif %}
                        </span><img src="/images/sponsors/cd/1/brothers.png"></a>
                </section>
            </div>
        </div>

        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="cinel" class="image featured" href="http://www.cinelspa.it/"><span class="caption">
                            {% if site.lang == "it" %}
                            Cinel è un'azienda fondata negli anni '70 a Padova. Si occupa di progettazione meccanica, collaborando con aziende in vari ambiti come quello astrofisico o bio-medico.
                            {% elsif site.lang == "en" %}
                            Cinel is a company founded in the 1970s in Padua. He deals with mechanical design, collaborating with companies in various fields such as astrophysics or bio-medical.				
                            {% endif %}
                        </span><img src="/images/sponsors/cd/1/cinel.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="faulhaber" class="image featured" href="https://www.faulhaber.com/it/pagina-iniziale/"><span class="caption">
                            {% if site.lang == "it" %}
                            Faulhaber è un'azienda tedesca nata nel 1947 che produce la più ampia gamma al mondo di sistemi di azionamento in miniatura e micro. Ha sedi in tutto il mondo, avendo impieghi in vari ambiti.
                            {% elsif site.lang == "en" %}
                            Faulhaber is a German company founded in 1947 that produces the world's widest range of miniature and micro drive systems. It has offices all over the world, having jobs in various fields.
                            {% endif %}
                        </span><img src="/images/sponsors/cd/1/fervi.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="meccanica-putti" class="image featured" href="https://www.meccanicaputti.it/"><span class="caption">
                            {% if site.lang == "it" %}
                            Meccanica Putti è un'azienda fondata nel 1961 che ad oggi, grazie a un'esperienza maturata nei decenni, si occupa di progettazione e produzione di particolari dentati.				
                            {% elsif site.lang == "en" %}
                            Meccanica Putti is a company founded in 1961 which today, thanks to the experience gained over the decades, deals with the design and production of toothed parts.				                            {% endif %}
                        </span><img src="/images/sponsors/cd/1/putti.png"></a>
                </section>
            </div>
        </div>

        <div class="row" align="center"> 

            <div class="4u">
                <section>
                    <a name="Ycom" class="image featured" href="https://www.ycom.it/"><span class="caption">
                            {% if site.lang == "it" %}
                            Nata nel 2008, Ycom ad oggi si occupa di progettazione, produzione e anche test per quanto riguarda le applicazione di mobilità.
                            {% elsif site.lang == "en" %}
                            Established in 2008, Ycom currently deals with design, production and even testing for mobility applications.
                            {% endif %}
                        </span><img src="/images/sponsors/cd/1/ycom.png"></a>
                </section>
            </div>

            <div class="4u">
                <section>
                    <a name="michelotto" class="image featured" href="http://michelottoautomobili.it/"><span
                            class="caption">
                            {% if site.lang == "it" %}
                            Michelotto è un'azienda fondata a Padova nel 1969 che attualmente si occupa di automobili da competizione, prototipi di automobili ed elaborazione di vetture stradali.
                            {% elsif site.lang == "en" %}
                            Michelotto is a company founded in Padua in 1969 which currently deals with racing cars, car prototypes and road car development.
                            {% endif %}
                        </span><img src="/images/sponsors/cd/1/michelotto.png"></a>
                </section>
            </div>        
        </div>
    </section>



    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="allegri" class="image featured" href="http://www.allegricesare.com/"><img
                            src="/images/sponsors/team/2/allegri.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="autosystem" class="image featured" href="https://www.autosystemspa.it/"><img
                            src="/images/sponsors/team/2/autosystem.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="errea" class="image featured" href="https://it.errea.com//"><img
                            src="/images/sponsors/team/2/errea.jpg"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="fervi" class="image featured" href="https://www.fervi.com/"><img
                            src="/images/sponsors/team/2/fervi.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="intergrafica" class="image featured" href="http://www.intergraficavr.com/"><img
                            src="/images/sponsors/team/2/intergraficavr.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Schaeffler" class="image featured" href="https://www.schaeffler.it/content.schaeffler.it/it/index.jsp"><img
                            src="/images/sponsors/team/2/Schaeffler.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Veneto Innovazione" class="image featured" href="https://www.venetoinnovazione.it/"><img
                            src="/images/sponsors/team/2/veneto-innovazione.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Wow solutions" class="image featured" href="https://wowsolution.it/"><img
                            src="/images/sponsors/team/2/WOW.png"></a>
                </section>
            </div> 
        </div>
        <div class="row" align="center"> 
            <div class="3u">
                <section>
                    <a name="Dassault Systèmes" class="image featured" href="https://www.3ds.com/it/"><img
                            src="/images/sponsors/team/2/dassault.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Atlassian" class="image featured" href="https://www.atlassian.com/it"><img
                            src="/images/sponsors/team/2/atlassan.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="henkel" class="image featured" href="https://www.henkel.it/"><img
                            src="/images/sponsors/team/2/henkel.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Siemens" class="image featured" href="https://new.siemens.com/it/it.html"><img
                            src="/images/sponsors/team/2/siemens.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="altair" class="image featured" href="https://www.altair.com/"><img
                            src="/images/sponsors/team/2/altair.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="angeloni" class="image featured" href=""><img src="/images/sponsors/team/2/angeloni.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="claytex" class="image featured" href="https://www.claytex.com/"><img
                            src="/images/sponsors/team/2/claytex.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="2 pi greco" class="image featured" href="https://www.duepigreco3d.it/"><img
                            src="/images/sponsors/cd/2/2pigreco.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="eulithe" class="image featured" href="http://www.eulithe.com/?locale=it"><img
                            src="/images/sponsors/cd/2/EULITHE.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="alth" class="image featured"
                        href="http://www.alth.it/default.asp?content=1,1,0,0,0,Home,00.html"><img
                            src="/images/sponsors/cd/2/Alth.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="fdmotors" class="image featured" href="http://www.i2v.it/IT/ct/MjA/FD-Motors"><img src="/images/sponsors/cd/2/fd.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="cometecmeccanica" class="image featured" href="http://www.cometecmeccanica.it/"><img
                            src="/images/sponsors/cd/2/COMETEC.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="ctm" class="image featured" href="http://www.ctm.it/"><img
                            src="/images/sponsors/cd/2/ctm.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="elle-emme" class="image featured" href="http://www.elle-emme.com"><img
                            src="/images/sponsors/cd/2/ELLE-EMME.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="freem" class="image featured" href="http://www.freemracing.it/"><img
                            src="/images/sponsors/cd/2/freem.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="metalplasma" class="image featured" href="www.metalplasma.it/"><img
                            src="/images/sponsors/cd/2/metalplasma.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="Honda Italia" class="image featured" href="https://www.honda.it/motorcycles.html"><img
                            src="/images/sponsors/cd/2/honda.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Meccanica Padovan" class="image featured" href="http://www.mptorneria.com/"><img
                            src="/images/sponsors/cd/2/meccaniche-padovan-2.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Mech solution" class="image featured" href="https://mechsolutions.net/"><img
                            src="/images/sponsors/cd/2/MECH SOLUTIONS.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="metaltech" class="image featured" href="http://www.metal-tech.it/"><img
                            src="/images/sponsors/cd/2/metaltech.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="metalba" class="image featured" href="www.metalba.com/"><img
                            src="/images/sponsors/cd/2/Metalba.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="metalcenter" class="image featured" href="https://metalcenter.it/"><img
                            src="/images/sponsors/cd/2/metalcenter.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Monza Tech" class="image featured" href="https://www.monzatech.it/"><img
                            src="/images/sponsors/cd/2/monzatech.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Novation Tech" class="image featured" href="https://www.novationtech.com/it/"><img
                            src="/images/sponsors/cd/2/novation_tech.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="pakelo" class="image featured" href="www.pakelo.com/"><img
                            src="/images/sponsors/cd/2/PAKELO.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="rctools" class="image featured" href="https://www.rctools.it/utensileria/"><img
                            src="/images/sponsors/cd/2/rctools.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="sisma" class="image featured" href="http://www.sisma.com/ita/"><img
                            src="/images/sponsors/cd/2/SISMA.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Specialinsert srl" class="image featured" href="https://www.specialinsert.it/"><img
                            src="/images/sponsors/cd/2/specialinsert.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="tecnocurve" class="image featured" href="https://www.tecnocurve.com/">
                        <img src="/images/sponsors/cd/2/tecnocurve.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="zamperla" class="image featured" href="https://www.zamperla.com/"><img src="/images/sponsors/cd/2/Zamperla.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="cpt" class="image featured" href="http://www.taglioadacquacpt.it/it"><img src="/images/sponsors/cd/2/CPTlogo.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Composite Technical system S.p.A." class="image featured" href="http://www.ctscyl.com/"><img
                            src="/images/sponsors/cd/2/cts.png"></a>
                </section>
            </div>      
        </div>
    </section>



    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="Confartigianato" class="image featured" href="https://www.confartigianato.it/"><img
                            src="/images/sponsors/team/3/confartigianato.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="cts" class="image featured" href="www.serigrafiacts.com/"><img
                            src="/images/sponsors/team/3/cts.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="gieffe" class="image featured" href="https://www.giefferacing.com/it/"><img
                            src="/images/sponsors/team/3/gieffe.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="SmartCAE" class="image featured" href="https://www.smartcae.com/"><img
                            src="/images/sponsors/team/3/smartcae.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="pista azzurra" class="image featured" href="http://www.pista-azzurra.com/"><img
                            src="/images/sponsors/team/3/pista-azzurra.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="microtex" class="image featured" href="https://microtexcomposites.com/"><img
                            src="/images/sponsors/team/3/microtex.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="Weller" class="image featured" href="https://www.weller-tools.com/professional/EUR/it/Home"><img
                            src="/images/sponsors/team/3/weller.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="1Car" class="image featured" href="https://www.pellicoleperauto.it/"><img
                            src="/images/sponsors/cd/3/1car.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="alticolor" class="image featured" href="https://www.alticolor.com/"><img
                            src="/images/sponsors/cd/3/alticolor.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="aviorace" class="image featured" href="http://www.aviorace.it"><img
                        src="/images/sponsors/cd/3/aviorace.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="Best Finishing" class="image featured" href="http://www.bestfinishing.it/"><img
                            src="/images/sponsors/cd/3/Best-Finishing_.png"></a>
                </section>
            </div>  
            <div class="2u">
                <section>
                    <a name="bizzotto" class="image featured" href="www.bizzottoautomation.com/"><img
                            src="/images/sponsors/cd/3/bizzotto.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="borgameccanica" class="image featured" href="https://www.borgameccanica.it/it/"><img
                            src="/images/sponsors/cd/3/borgameccanica.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="bragagnolo" class="image featured" href="https://www.officinebragagnolo.com/"><img
                            src="/images/sponsors/cd/3/bragagnolo.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="cfp" class="image featured" href="www.cfp-srl.it/"><img
                            src="/images/sponsors/cd/3/cfp.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="comig" class="image featured" href="https://www.comig.it/"><img
                            src="/images/sponsors/cd/3/comig.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="denso" class="image featured" href="https://www.denso-am.it/"><img
                            src="/images/sponsors/cd/3/denso.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="dynamec" class="image featured" href="http://www.dynamecsrl.com"><img
                            src="/images/sponsors/cd/3/Dynamec.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="edo vigna racing" class="image featured" href="www.edovignaracing.com/"><img
                            src="/images/sponsors/cd/3/evr.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="hobbild" class="image featured" href="https://www.hobbild.com/"><img
                            src="/images/sponsors/cd/3/logo_hobbild.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="knipex" class="image featured" href="https://www.knipex.com/"><img
                            src="/images/sponsors/cd/3/knipex.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="masolini" class="image featured" href="http://www.masoliniradiatori.com/home.html"><img
                            src="/images/sponsors/cd/3/masolini.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="meccanica2c" class="image featured" href="http://www.officinameccanica2c.it/"><img
                            src="/images/sponsors/cd/3/meccanica2c.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="meccanicagasparotto" class="image featured" href="http://www.meccanicagasparotto.it/"><img
                            src="/images/sponsors/cd/3/gasparotto.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="comel" class="image featured" href="http://www.comel.it/"><img
                            src="/images/sponsors/cd/3/comel.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="mouser" class="image featured" href="https://www.mouser.it/"><img
                            src="/images/sponsors/cd/3/mouser.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="nuova-tempra" class="image featured" href="www.nuovatempra.it/"><img
                            src="/images/sponsors/cd/3/nuova-tempra.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="sandona" class="image featured" href="https://sandonaroberto.it/"><img
                            src="/images/sponsors/cd/3/SANDONA_.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="schroth" class="image featured" href="https://www.schroth.com/de/"><img
                            src="/images/sponsors/cd/3/schroth.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="Sintoflon" class="image featured" href="https://sintoflon.com/"><img
                            src="/images/sponsors/cd/3/sintoflon.png"></a>
                </section>
            </div> 
            </div>
            <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="sit" class="image featured" href="https://sitspa.it/"><img
                            src="/images/sponsors/cd/3/sit.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="sitta" class="image featured" href="http://www.sitta.it//"><img
                            src="/images/sponsors/cd/3/Sitta.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="T.P.A. srl" class="image featured" href="http://www.tpa-srl.net/">
                        <img src="/images/sponsors/cd/3/Logo T.P.A. srl.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="tecnolaser" class="image featured" href="https://www.tecnolaser.com/">
                        <img src="/images/sponsors/cd/3/tecnolaser.png">
                    </a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="torresin" class="image featured" href="www.titanio.com/"><img
                            src="/images/sponsors/cd/3/Torresin.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="tricolor" class="image featured" href="http://www.tricolor.vi.it/"><img
                            src="/images/sponsors/cd/3/tricolor.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="viterie euganee" class="image featured" href="https://www.viteria-euganea.it"><img
                            src="/images/sponsors/cd/3/viteria.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="cermanutenzioni" class="image featured" href="http://cermanutenzioni.it/"><img
                            src="/images/sponsors/cd/3/cermanutenzioni.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="Jetco" class="image featured" href="http://www.jetco.it/"><img
                            src="/images/sponsors/cd/3/jetco.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="Roberto Giandesin" class="image featured" href="https://www.giandesin.com/azienda.php"><img src="/images/sponsors/cd/3/Logo_RobertoGiandesin.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="slm" class="image featured" href="https://www.slmht.it/"><img
                            src="/images/sponsors/cd/3/slm.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="pirollo" class="image featured" href="https://www.pirollo.it/"><img
                            src="/images/sponsors/cd/3/pirollo.png"></a>
                </section>
            </div>     
        </div>
       
    </section>
</article>