---
layout: default
title: titles.case_study
---
<article id="main">
    <header class="special container">
        <span class="icon fa-briefcase"></span>
        <h2>
            {% if site.lang == "it" %}Collaborazioni
            {% elsif site.lang == "en" %}Collaborations
            {% endif %}
        </h2>
        <!--<p  align="center">
            {% if site.lang == "it" %}
            Se si vuole inserire qui breve descrizione della pagina
            {% elsif site.lang == "en" %}
            se si vuole inserire qui breve descrizione della pagini in inglese
            {% endif %}
        </p>-->
    </header>
    <section class="wrapper style1 container special">
        <div class="row">
            <div class="4u">
                <header>
                    <h2><strong>Unox</strong></h2>
                    <a class="image featured"><img src="/images/sponsors/collaborazioni/unox.png"
                                                   alt="unox logo"></a>
                </header>
                <div style="min-height: 610px;">
                    {% if site.lang == "it" %}
                        <p class="card-text">Unox, produttore di forni professionali di grande successo è uno degli sponsor che più credono nel progetto Formula Student dell’università di Padova.
                            La collaborazione tra Race UP e Unox è molto preziosa: l’azienda fornisce al team diverse lavorazioni meccaniche ma soprattutto mette a disposizione alcuni spazi in cui i nostri reparti di elettronica possono lavorare, inseriti in un contesto professionale e innovativo.
                            Il legame tra Unox e gli studenti che partecipano al progetto di Formula student spesso non si ferma alla militanza nel team in quanto sono frequenti le offerte di stage e di lavoro che i nostri migliori studenti ricevono al termine del loro percorso in squadra.</p>
                    {% endif %}
                </div>
                <div>
                    {% if site.lang == "it" %}
                        <a class="button" href="https://www.unox.com/it_it/">Scopri il mondo Unox</a>
                    {% elsif site.lang == "en" %}
                        <a class="button" href="https://www.unox.com/en_gb/">Learn more</a>
                    {% endif %}
                    
                </div>
            </div>
            <div class="4u">
                <header>
                    <h2><strong>Aruba</strong></h2>
                    <a class="image featured"><img src="/images/sponsors/collaborazioni/ARUBA_logo.jpeg"
                                                   alt="aruba logo"></a>
                </header>
                <div style="min-height: 610px;">
                    {% if site.lang == "it" %}
                        <p class="card-text">Il Private Cloud fornito da Aruba Cloud ci permette 
                            di disporre di una piattaforma cloud in cui è possibile compiere diverse tipologie di simulazioni, da quelle relative ai componenti aerodinamici del veicolo a quelle che riguardano le componenti strutturali della vettura che richiedono una capacità di calcolo non raggiungibile con i normali computer. A ciò si aggiunge la possibilità di raccogliere i dati telemetrici e la visualizzazione live di tali dati, fondamentali per condurre ricerche specifiche di analisi.</p>
                    {% elsif site.lang == "en" %}
                        <p class="card-text">The Private Cloud provided by Aruba Cloud allows us
                            to have a cloud platform in which it is possible to perform different types of simulations, from those relating to the aerodynamic components to those relating to the structural components of the car, that require a high calculation capacity that cannot be reached with normal computers. Added to this is the possibility of collecting telemetry data and the live visualization of such data, essential for conducting specific analysis research.</p>
                    {% endif %}
                </div>
                <div>
                    {% if site.lang == "it" %}
                        <a class="button" href="https://enterprise.aruba.it/case-study/race-up-team-universita-padova.aspx">Approfondisci</a>
                    {% elsif site.lang == "en" %}
                        <a class="button" href="https://enterprise.aruba.it/case-study/race-up-team-universita-padova.aspx">Learn more</a>
                    {% endif %}
                    
                </div>
            </div>
            <div class="4u">
                <header>
                    <h2><strong>OZ</strong></h2>
                    <a class="image featured"><img src="/images/sponsors/collaborazioni/oz.png"
                                                   alt="oz logo"></a>
                </header>
                <div style="min-height: 610px;">
                    {% if site.lang == "it" %}
                        <p class="card-text">OZ racing Spa è un’eccellenza italiana nel mercato dei cerchi auto ad alta prestazione, inoltre è il nostro sponsor più importante, l’azienda collabora con l’università di Padova da più di 15 anni. 
                            Il team Race UP infatti viene ospitato nella sede OZ racing di San Martino di Lupari (PD), è lì che abbiamo la nostra officina e gli spazi in cui lavorare.
                            Innovazione, precisione e professionalità sono solo alcuni degli aspetti che contraddistinguono OZ e che vengono trasmessi a tutti i ragazzi che prendono parte al progetto Formula Student.
                            Oltre a fornire spazi e consulenze OZ racing fornisce al team Race UP cerchi in magnesio, leggeri e performanti.</p>
                    {% endif %}
                </div>
                <div>
                    {% if site.lang == "it" %}
                        <a class="button" href="https://www.ozracing.com/it/motorsport/formula-student/formula-student">Approfondisci</a>
                    {% elsif site.lang == "en" %}
                        <a class="button" href="https://www.ozracing.com/it/motorsport/formula-student/formula-student">Learn more</a>
                    
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </section>
</article>