---
layout: default
title: titles.case_study
---
<article id="main">
    <header class="special container">
        <span class="icon fa-briefcase"></span>
        <h2>
            {% if site.lang == "it" %}Collaborazioni
            {% elsif site.lang == "en" %}Collaborations
            {% endif %}
        </h2>
        <!--<p  align="center">
            {% if site.lang == "it" %}
            Se si vuole inserire qui breve descrizione della pagina
            {% elsif site.lang == "en" %}
            se si vuole inserire qui breve descrizione della pagini in inglese
            {% endif %}
        </p>-->
    </header>
    <section class="wrapper style1 container special">
        <div class="row">
            <div class="4u">
                <header>
                    <h2><strong>Aruba</strong></h2>
                    <a class="image featured"><img src="/images/sponsors/collaborazioni/ARUBA_logo.jpeg"
                                                   alt="aruba logo"></a>
                </header>
                <div style="min-height: 250px;">
                    {% if site.lang == "it" %}
                        <p class="card-text">Il Private Cloud fornito da Aruba Cloud ci permette 
                            di disporre di una piattaforma cloud in cui è possibile compiere diverse tipologie di simulazioni, da quelle relative ai componenti aerodinamici del veicolo a quelle che riguardano le componenti strutturali della vettura che richiedono una capacità di calcolo non raggiungibile con i normali computer. A ciò si aggiunge la possibilità di raccogliere i dati telemetrici e la visualizzazione live di tali dati, fondamentali per condurre ricerche specifiche di analisi.</p>
                    {% elsif site.lang == "en" %}
                        <p class="card-text">The Private Cloud provided by Aruba Cloud allows us
                            to have a cloud platform in which it is possible to perform different types of simulations, from those relating to the aerodynamic components to those relating to the structural components of the car, that require a high calculation capacity that cannot be reached with normal computers. Added to this is the possibility of collecting telemetry data and the live visualization of such data, essential for conducting specific analysis research.</p>
                    {% endif %}
                </div>
                <div>
                    {% if site.lang == "it" %}
                        <a class="button" href="https://enterprise.aruba.it/case-study/race-up-team-universita-padova.aspx">Approfondisci</a>
                    {% elsif site.lang == "en" %}
                        <a class="button" href="https://enterprise.aruba.it/case-study/race-up-team-universita-padova.aspx">Learn more</a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </section>
</article>