---
layout: default
title: titles.sponsors_ed
---
<article id="main">
    <header class="special container">
        <span class="icon fa-briefcase"></span>
        <h2>
            {% if site.lang == "it" %}Sponsors in partnership con Race Up
            Electric Division
            {% elsif site.lang == "en" %}Sponsors in
            partnership with Race Up Electric Division
            {% endif %}
        </h2>
        <p>
            {% if site.lang == "it" %}
            Il progetto Race Up prosegue e si migliora ogni anno grazie al
            prezioso contributo economico e professionale di un nostro gruppo di
            affezionati partners. È grazie a loro se ogni anno Race UP può
            crescere e migliorare le prestazioni della propria vettura. Il
            nostro ringraziamento va a
            {% elsif site.lang == "en" %}
            Thanks to a group of loyal partners and to the valuable, economic
            and professional contributions, Race UP project goes on and keeps
            improving every year. Thanks to their help, Race up grows and
            improves car performance. Our gratitude goes to:
            {% endif %}
        </p>
    </header>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div>
                <section class="6u">
                    <a name="unipd" class="image featured" href="http://www.unipd.it"><span class="caption">
                            {% if site.lang == "it" %}
                            L'Università degli Studi di Padova, è una università statale italiana fondata nel 1222, fra
                            le più antiche al mondo. L'università di Padova rappresenta uno dei casi paradigmatici di
                            Ateneo medievale nato dalla migrazione di un gruppo di studenti provenienti dalla
                            preesistente sede universitaria di Bologna.
                            {% elsif site.lang == "en" %}
                            The University of Padua is an Italian statal university founded in 1222, one of the oldest
                            in the world. The University of Padua is one of the paradigmatic cases of the medieval
                            University born from the migration of a group of students from the pre-existing university
                            of Bologna.
                            {% endif %}
                        </span><img src="/images/sponsors/unipd.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <section class="6u">
                    <a name="oz" class="image featured" href="http://www.ozracing.it"><span class="caption">
                            {% if site.lang == "it" %}
                            OZ Racing nasce da un’autentica passione per le ruote. Fondata nel 1971, è una leggenda nel
                            mondo automobilistico. OZ in quarant’anni ha collaborato con le più esclusive case
                            automobilistiche: Ferrari, Lamborghini, Maserati, Aston Martin e Lotus, McLaren.
                            Collaborazioni che hanno dato vita a cerchi esclusivi, conservati con cura nel museo presso
                            la sede di San Martino di Lupari a Padova.
                            {% elsif site.lang == "en" %}
                            OZ Racing is born from an authentic passion for the wheels. Founded in 1971, it is a
                            legendary company in the automotive world. OZ in forty years has worked with the most
                            exclusive automakers: Ferrari, Lamborghini, Maserati, Aston Martin and Lotus, McLaren.
                            Collaborations that gave birth to exclusive wheels, carefully preserved in the museum in the
                            headquarters of San Martino di Lupari in Padua.
                            {% endif %}
                        </span><img src="/images/sponsors/oz.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <section class="6u">
                    <a name="compositex" class="image featured" href="http://www.compositex.com/"><span class="caption">
                            {% if site.lang == "it" %}
                            COMPOSITEX si occupa di lavorazione di materiali, costruzione di telai per auto da
                            competizione; costruzione di particolari in composito per i settori aeronautico,
                            automobilistico, nautico, ciclistico, motociclistico e in genere per competizioni;
                            riparazione di scocche e pezzi in composito per vari settori; commercializzazione di
                            particolari in materiali compositi.
                            {% elsif site.lang == "en" %}
                            Compositex deals with materials processing, competition cars’ frame construction;
                            construction of composite details for aeronautical, automotive, nautical areas, cycling,
                            motorcyclists and in general for competitions; repair of scooters and pieces in composite
                            materials for various sectors; commercialization of particulars in composite materials.
                            {% endif %}
                        </span><img src="/images/sponsors/compositex.png"></a>
                </section>
            </div>
        </div>



    </section>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="inarca" class="image featured" href="https://www.inarca.com/it/"><span class="caption">
                            {% if site.lang == "it" %}
                            Inarca leader nella produzione di terminali e connettori per settori
                            elettrodomestici, elettrotecnica, elettronica, automotive e molto altro
                            {% elsif site.lang == "en" %}
                            Inarca leader in the production of terminals and connectors for sectors
                            appliances, electrical engineering, electronics, automotive and much more
                            {% endif %}
                        </span><img src="/images/sponsors/ed/1/inarca.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="3dfast" class="image featured" href="http://www.3dfast.it/"><span class="caption">
                            {% if site.lang == "it" %}
                            3dfast
                            {% elsif site.lang == "en" %}
                            3dfast
                            {% endif %}
                        </span><img src="/images/sponsors/cd/1/3d fast.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="unox" class="image featured" href="https://www.unox.com/it_it/"><span class="caption">
                            {% if site.lang == "it" %}
                            Forni professionali intelligenti ad alte prestazioni.
                            {% elsif site.lang == "en" %}
                            Professional high performance smart ovens.
                            {% endif %}
                        </span><img src="/images/sponsors/ed/1/unox.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="Fati" class="image featured" href="http://www.fatiengineering.com/"><span class="caption">
                            {% if site.lang == "it" %}
                            Fati Engineering
                            {% elsif site.lang == "en" %}
                            Fati engineering
                            {% endif %}
                        </span><img src="/images/sponsors/ed/1/fati.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="Fervi" class="image featured" href="https://www.fervi.com/"><span class="caption">
                            {% if site.lang == "it" %}
                            Fervi, per rispondere a tutte le tue esigenze di lavoro, manutenzione e riparazione, dalle
                            piccole opere ai grandi progetti.
                            {% elsif site.lang == "en" %}
                            Fervi
                            {% endif %}
                        </span><img src="/images/sponsors/ed/1/fervi.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="Metalvenice" class="image featured" href="http://www.metalvenice.it/"><span
                            class="caption">
                            {% if site.lang == "it" %}
                            MetalVenice Srl è un’azienda specializzata nei processi di verniciatura e trattamenti conto
                            terzi per qualsiasi tipo di prodotto industriale.
                            {% elsif site.lang == "en" %}
                            Metalvenice
                            {% endif %}
                        </span><img src="/images/sponsors/cd/1/metalvenice.png"></a>
                </section>
            </div>
        </div>

        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="Dassault" class="image featured" href="https://www.3ds.com/"><span class="caption">
                            {% if site.lang == "it" %}
                            Dassault Systèmes, "The 3DEXPERIENCE Company", è una società europea del settore software
                            che sviluppa soluzioni di progettazione in 3D, digital mock-up in 3D e gestione del ciclo di
                            vita dei prodotti.
                            {% elsif site.lang == "en" %}
                            Dassault Systemes
                            {% endif %}
                        </span><img src="/images/sponsors/ed/1/dassault.png"></a>
                </section>
            </div>
        </div>



    </section>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="avm" class="image featured"><img src="/images/sponsors/ed/2/avm.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="md" class="image featured" href="https://www.mdpcb.com/"><img
                            src="/images/sponsors/ed/2/md.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="amk" class="image featured" href="https://amk-group.com/en"><img
                            src="/images/sponsors/ed/2/AMK.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="kissoft" class="image featured" href="http://www.kisssoft.ch/italiano/home/index.php"><img
                            src="/images/sponsors/ed/2/E_KISSsoft-claim_blue-blue_rgb_50mm_transp.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="melasta" class="image featured" href="http://www.melasta.com"><img
                            src="/images/sponsors/ed/1/melasta-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="smartcae" class="image featured" href="https://www.smartcae.com/chi-siamo/"><img
                            src="/images/sponsors/ed/2/smartcae.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="intergrafica" class="image featured" href="http://www.intergraficavr.com/"><img
                            src="/images/sponsors/ed/2/intergraficavr.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="renishaw" class="image featured"
                        href="http://www.renishaw.com/en/renishaw-enhancing-efficiency-in-manufacturing-and-healthcare--1030"><img
                            src="/images/sponsors/ed/2/renishaw.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="sbg" class="image featured" href="https://www.sbg-systems.com/"><img
                            src="/images/sponsors/ed/2/sbg.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="allegri" class="image featured" href="http://www.allegricesare.com/"><img
                            src="/images/sponsors/ed/2/allegri.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="altair" class="image featured" href="https://www.altair.com/"><img
                            src="/images/sponsors/ed/2/altair.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="angeloni" class="image featured" href=""><img src="/images/sponsors/ed/2/angeloni.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="dassault" class="image featured" href="https://www.3ds.com/it/"><img
                            src="/images/sponsors/ed/2/dassault.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="globalinformatica" class="image featured" href="http://globalinformatica.biz/it/home"><img
                            src="/images/sponsors/ed/2/global-informatica.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="helukabel" class="image featured" href="http://www.helukabel.com/it/home.html"><img
                            src="/images/sponsors/ed/2/helukabel.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="mathworks" class="image featured" href="https://it.mathworks.com"><img
                            src="/images/sponsors/ed/2/mathworks.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="molex" class="image featured" href="http://www.molex.com"><img
                            src="/images/sponsors/ed/2/molex.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="simsacale" class="image featured" href="https://www.simscale.com/"><img
                            src="/images/sponsors/ed/2/simscale.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="tormec" class="image featured" href="http://www.tormec.com/"><img
                            src="/images/sponsors/ed/2/tormec.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="xsens" class="image featured" href="https://www.xsens.com/"><img
                            src="/images/sponsors/ed/2/xsens.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="aruba" class="image featured" href="https://www.aruba.it/"><img
                            src="/images/sponsors/ed/2/aruba.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="lamiertek" class="image featured" href="www.lamiertek.it/"><img
                            src="/images/sponsors/ed/3/lamiertek.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="autosystem" class="image featured" href="https://www.autosystemspa.it/"><img
                            src="/images/sponsors/ed/2/autosystem.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="buson" class="image featured" href="https://www.autosystemspa.it/"><img
                            src="/images/sponsors/ed/2/buson.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="zuin" class="image featured" href="http://www.modelleriazuin.it/"><img
                            src="/images/sponsors/ed/3/zuin.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="Monday" class="image featured" href="https://monday.com"><img
                            src="/images/sponsors/ed/2/monday.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="velex" class="image featured" href="https://www.velex.it/"><img
                            src="/images/sponsors/ed/2/velex.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="bluewind" class="image featured" href="https://www.bluewind.it/"><img
                            src="/images/sponsors/ed/2/bluewind.png"></a>
                </section>
            </div>
        </div>
        </div>



    </section>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="gri" class="image featured" href="www.gripumps.com/"><img
                            src="/images/sponsors/ed/3/gri.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="henkel" class="image featured" href="https://www.henkel.it/"><img
                            src="/images/sponsors/ed/3/loctite.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="microtex" class="image featured" href="https://www.henkel.it/"><img
                            src="/images/sponsors/ed/3/microtex.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="mpz" class="image featured"
                        href="http://www.meccanicampz.it/it/meccanica-di-precisione"><img
                            src="/images/sponsors/ed/3/mpz.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="odu" class="image featured" href="https://www.odu-connectors.com/"><img
                            src="/images/sponsors/ed/3/odu.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="omegafusibili" class="image featured" href="http://www.omegafusibili.it"><img
                            src="/images/sponsors/ed/3/omega.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="rohm" class="image featured" href=""><img src="/images/sponsors/ed/3/rohm.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="slimfusina" class="image featured" href="https://www.slimalu.com/it/home-italian/"><img
                            src="/images/sponsors/ed/3/slim.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="bender" class="image featured" href="https://www.bender-it.com/"><img
                            src="/images/sponsors/ed/3/bender.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="confartigianato" class="image featured" href="https://www.confartigianato.it/"><img
                            src="/images/sponsors/ed/3/confartigianato.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="gigavac" class="image featured" href="www.gigavac.com/"><img
                            src="/images/sponsors/ed/3/gigavac.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="htitalia" class="image featured" href="https://www.ht-instruments.it/it-it/"><img
                            src="/images/sponsors/ed/3/ht.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="nuova-tempra" class="image featured" href="www.nuovatempra.it/"><img
                            src="/images/sponsors/ed/3/nuova-tempra.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="sorma" class="image featured" href="https://www.sorma.net/it"><img
                            src="/images/sponsors/cd/3/sorma.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="bertocco" class="image featured" href="www.bertoccoautomobili.com/"><img
                            src="/images/sponsors/ed/3/bertocco.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="getecno" class="image featured" href="http://www.getecno.com/"><img
                            src="/images/sponsors/ed/3/getecno.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="lanulfi" class="image featured" href="http://www.lanulfi.com/en/"><img
                            src="/images/sponsors/ed/2/lanulfi.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="pirollo" class="image featured" href="https://www.pirollo.it/"><img
                            src="/images/sponsors/cd/3/pirollo.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="2u">
                <section>
                    <a name="rigoni" class="image featured"
                        href="https://www.facebook.com/pages/category/Hardware-Store/Ferramenta-Rigoni-229391523889872/"><img
                            src="/images/sponsors/ed/3/rigoni.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="simpa" class="image featured" href="www.simpalluminio.it/"><img
                            src="/images/sponsors/ed/2/simpa.png"></a>
                </section>
            </div>
            <div class="2u">
                <section>
                    <a name="weller" class="image featured" href="https://www.weller-tools.com/en/Home.html"><img
                            src="/images/sponsors/ed/2/weller.png"></a>
                </section>
            </div>
        </div>



    </section>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="bitbucket" class="featured" href="https://bitbucket.org/">Bitbucket</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="anodica" class="featured" href="http://www.anodicascaligera.com/">Anodica Scaligera</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="dissegna" class="featured">Dissegna</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="tme" class="featured" href="https://www.ti.com">Tme</a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="ab-meccanica" class="featured" href="http://www.abmecc.it/">Ab Meccanica</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="casa-del-radiatore" class="featured">Casa del Radiatore</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="corazza" class="featured" href="http://www.corazzasrl.it/index.php?lang=en">Corazza</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="gaser" class="featured" href="http://www.gruppogaser.com/">Gruppo Gaser</a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="italignum" class="featured" href="https://www.italignum.com/">Italignum</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="metalb" class="featured" href="http://www.metalbsrl.it/">Metalb</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="stal-plast" class="featured" href="http://www.stal-plast.com">Stal Plast</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="phidgets" class="featured" href="https://www.phidgets.com/">Phidgets</a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="hirose" class="featured" href="https://www.hirose.com/">Hirose</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="aviorace" class="featured" href="https://www.aviorace.it/it/">Aviorace</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="data-job" class="featured" href="https://www.datajob.com/it/datajob">Data Job</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="knipex" class="featured" href="https://www.knipex.com/">Knipex</a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="meccanica-agostini" class="featured" href="www.meccanicaagostini.it//">Meccanica
                        Agostini</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="tecnomontaggi" class="featured" href="tecnomontaggipadova.it/">Tecnomontaggi</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="eas-elettronica" class="featured" href="www.eas.it/">EAS Elettronica</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="omp" class="featured" href="www.omp.it/">OMP</a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="plan" class="featured" href="http://www.plan.vi.it/">Plan</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="sendyne" class="featured" href="www.sendyne.com/">Sendyne</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="coveme" class="featured" href="https://www.coveme.com/it/">Coveme</a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="PCBway" class="featured" href="">PCBWay</a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="rescarettifiche" class="featured" href="https://www.rettificheresca.it/">Resca
                        Rettifiche</a>
                </section>
            </div>
        </div>
    </section>
</article>