---
layout: default
title: titles.sponsors_ed
---
<article id="main">
    <header class="special container">
        <span class="icon fa-briefcase"></span>
        <h2>
            {% if site.lang == "it" %}Sponsors in partnership con Race Up
            Electric Division
            {% elsif site.lang == "en" %}Sponsors in
            partnership with Race Up Electric Division
            {% endif %}
        </h2>
        <p>
            {% if site.lang == "it" %}
            Il progetto Race Up prosegue e si migliora ogni anno grazie al
            prezioso contributo economico e professionale di un nostro gruppo di
            affezionati partners. È grazie a loro se ogni anno Race Up può
            crescere e migliorare le prestazioni della propria vettura. Il
            nostro ringraziamento va a
            {% elsif site.lang == "en" %}
            Thanks to a group of loyal partners and to the valuable, economic
            and professional contributions, Race Up project goes on and keeps
            improving every year. Thanks to their help, Race up grows and
            improves car performance. Our gratitude goes to:
            {% endif %}
        </p>
    </header>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div>
                <section class="8u">
                    <a name="oz" class="image featured"
                       href="http://www.ozracing.it"><span class="caption">
                        {% if site.lang == "it" %}
                        OZ Racing nasce da un’autentica passione per le ruote. Fondata nel 1971, è una leggenda nel mondo automobilistico. OZ in quarant’anni ha collaborato con le più esclusive case automobilistiche: Ferrari, Lamborghini, Maserati, Aston Martin e Lotus, McLaren. Collaborazioni che hanno dato vita a cerchi esclusivi, conservati con cura nel museo presso la sede di San Martino di Lupari a Padova.
                        {% elsif site.lang == "en" %}
                        OZ Racing is born from an authentic passion for the wheels. Founded in 1971, it is a legendary company in the automotive world. OZ in forty years has worked with the most exclusive automakers: Ferrari, Lamborghini, Maserati, Aston Martin and Lotus, McLaren. Collaborations that gave birth to exclusive wheels, carefully preserved in the museum in the headquarters of San Martino di Lupari in Padua.
                        {% endif %}
                    </span><img src="/images/sponsors/oz.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div>
                <section class="8u">
                    <a name="compositex" class="image featured"
                       href="http://www.compositex.com/"><span class="caption">
                        {% if site.lang == "it" %}
                        COMPOSITEX si occupa di lavorazione di materiali, costruzione di telai per auto da competizione; costruzione di particolari in composito per i settori aeronautico, automobilistico, nautico, ciclistico, motociclistico e in genere per competizioni; riparazione di scocche e pezzi in composito per vari settori; commercializzazione di particolari in materiali compositi.
                        {% elsif site.lang == "en" %}
                        Compositex deals with materials processing, competition cars’ frame construction; construction of composite details for aeronautical, automotive, nautical areas, cycling, motorcyclists and in general for competitions; repair of scooters and pieces in composite materials for various sectors; commercialization of particulars in composite materials.
                        {% endif %}
                    </span><img src="/images/sponsors/compositex.png"></a>
                </section>
            </div>
        </div>
    </section>
    <section class="wrapper style3 container">
        <div class="row" align="center">
               <div class="6u">
                <section>
                    <a name="zf" class="image featured" href="https://www.zf.com"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        ZF è uno dei più importanti gruppi tecnologici al mondo, specializzato nel settore delle trasmissioni e dei sistemi autotelaio, nonché della tecnologia di sicurezza attiva e passiva. ZF è presente sul mercato italiano dal 1951 come fornitore di primo equipaggiamento di impianti sterzo per la “Giulietta” dell’Alfa Romeo
                        Le principali aree di business di ZF Italia comprendono l’automotive, l’automazione industriale, il settore marino, il rail ferroviario e il settore eolico.
                        {% elsif site.lang == "en" %}
                        ZF is one of the most important technology groups in the world. It works in the transmission and chassis system sectors, and also in the active and passive technology security. ZF have operated in Italy since 1951: now it is a Alfa Romeo supplier of “Giulietta” first equipment for steering system. Main ZF business italian areas are: automotive sector, industrial automotive sector, marine sector, railway and wind industry.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/1/zf.png"></a>
                </section>
            </div>
            <div class="6u">
                <section>
                    <a name="lamiertek" class="image featured"
                       href="http://www.lamiertek.it/"><span class="caption">
                        {% if site.lang == "it" %}
                        Lamiertek S.r.l. nasce dall’unione dell’ esperienza e dalla passione per il lavoro dei suoi soci fondatori. L’azienda si occupa della lavorazione di acciaio, acciaio inox, alluminio e rame. La mission aziendale mira a soddisfare le esigenze del cliente, proponendo un prodotto di valore e qualità. L’obiettivo che da sempre l’azienda si prefigge è la ricerca di soluzioni tecniche ed innovative per portare al cliente vantaggi e competitività.
                        {% elsif site.lang == "en" %}
                        Lamiertek srl was born thanks to the founders’ alliance, experience and passion. The company deals with steel, inox steel, aluminum and copper processing and her mission consist of satisfying clients’ needs and producing a worth and quality product. Lamiertek’s goal is finding technical and innovative solutions to allow customer to be more competitive and advantaged.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/1/LAMIERTEK-1k.png"></a>
                </section>
            </div>
            </div>
        <div class="row" align="center">
            <div class="6u">
                <section>
                    <a name="meccanicampz" class="image featured"
                       href="http://www.meccanicampz.it/"><span class="caption">
                        {% if site.lang == "it" %}
                        MPZ srl nasce dall'esperienza trentennale del suo fondatore Gianni Zanini.
                        Forte dell'esperienza maturata nel corso della sua vita professionale nel mondo della meccanica, decide nel 2006 di iniziare una propria attività di meccanica di precisione per conto terzi.
                        Grazie all'impegno e all'alta professionalità dei suoi collaboratori, l'azienda in pochi anni, raggiunge importanti obiettivi in termini di fatturato e di clienti acquisiti.
                        {% elsif site.lang == "en" %}
                        MPZ srl was born in 2006 when the founder Gianni Zanini, that already had a thirty years professional experience in the mechanics field, started their own precision mechanics business for third parties.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/1/mpz.png"></a>
                </section>
            </div>
            <div class="6u">
                <section>
                    <a name="simpalluminio" class="image featured"
                       href="http://www.simpalluminio.it/"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        L’azienda, sita a Torri di Quartesolo (VI), si occupa della creazione di stampi per materie plastiche.
                        {% elsif site.lang == "en" %}
                        The company is based in Torri di Quartesolo (VI) and it works in molds creation for plastic materials.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/1/simpa-1k.png"></a>
                </section>
            </div>
            </div>
        <div class="row" align="center">
            <div class="6u">
                <section>
                    <a name="inarca" class="image featured"
                       href="https://www.inarca.com/it/"><span class="caption">
                        {% if site.lang == "it" %}
                        Inarca leader nella produzione di terminali e connettori per settori
elettrodomestici, elettrotecnica, elettronica, automotive e molto altro
                        {% elsif site.lang == "en" %}
                        Inarca leader in the production of terminals and connectors for sectors
appliances, electrical engineering, electronics, automotive and much more
                        {% endif %}
                    </span><img
                            src="/images/sponsors/ed/1/inarca.png"></a>
                 </section>
            </div>
            <div class="6u">
                <section>
                    <a name="3dfast" class="image featured"
                       href="http://www.3dfast.it/"><span class="caption">
                        {% if site.lang == "it" %}
                        3dfast
                        {% elsif site.lang == "en" %}
                        3dfast
                        {% endif %}
                    </span><img
                            src="/images/sponsors/cd/1/3d fast.png"></a>
                </section>
            </div>
        </div>
    </section>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="stile" class="image featured"
                       href="http://www.nuovacarrozzeriastile.it/"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        La Nuova Carrozzeria Stile è un’azienda giovane e dinamica nata nel 2003 che offre servizi quali: carrozzeria, verniciatura, assistenza meccanica, tagliandi per auto di qualsiasi marca, gommista, revisioni, elettrauto, raddrizzatura grandine, ripristino fari, noleggio auto, bollino blu e soccorso stradale.
                        {% elsif site.lang == "en" %}
                        The “Nuova Carrozzeria Stile” is a young and dynamic company. It was born in 2003 and offers several services such as: car bodywork, painting mechanical assistance, car coupons, tires repair, car review, restoring highlights, car rent, blue note and roadside assistance.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/stile.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="odu" class="image featured"
                       href="http://www.odu-usa.com/"><span class="caption">
                        {% if site.lang == "it" %}
                        Con occhi rivolti all’efficienza e alla cura per il cliente, ODU rappresenta una delle realtà leader nella fornitura di sistemi di connessione elettrici. La sua tecnologia assicura un trasferimento ottimale di potenza, segnale e informazioni, specialmente nei campi dell’energia e dell’automotive. L’azienda ha sede in Germania, ma conta diversi stabilimenti nel mondo.
                        {% elsif site.lang == "en" %}
                        ODU is one of the leader in electrical connection system supply thanks to the efficiency and customer strategies. Its technology guarantees an optimal power, signal and information transfer specially in the energy and automotive fields. Head office’s company is in Germany, but there are many factories over the world.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/odu-1k.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="rs" class="image featured"
                       href="http://it.rs-online.com/web/"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        Azienda di Componenti Elettronici e Connettori, Cavi, Elettricità e Automazione, Utensili e Meccanica, Information Technology, Strumentazione e Sicurezza.
                        {% elsif site.lang == "en" %}
                        RS works in various fields: electronic components, connectors, cables, electricity, automation, tools, mechanics, information technology, instrumentation and security.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/rs-1k.png"></a>
                </section>
            </div>
            </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="texas-instruments" class="image featured"
                       href="https://www.ti.com"><span class="caption">
                        {% if site.lang == "it" %}
                        Texas Instruments è un’azienda statunitense, con sede a Dallas; è famosa per lo sviluppo, la produzione e la vendita di semiconduttori. L’azienda è orientata allo sviluppo di chip analogici e processori embedded ma anche di tecnologia per l’educazione. Texas Instruments è tra i primi 10 produttori mondiali di semiconduttori e possiede centri di produzione, sviluppo e commercializzazione in 3 diversi continenti.
                        {% elsif site.lang == "en" %}
                        Texas instruments is a US company in Dallas. It is one of the 10 most important semiconductors developers and producers and it has production, development and marketing establishments in 3 different continents. The company goal is the analog chips,  embedded processors and education technology development.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/texas-1k.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="avm" class="image featured"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        L’azienda produce stampi per stampaggio in plastica.
                        {% elsif site.lang == "en" %}
                        The company produces molds for plastic molding.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/avm.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="buson" class="image featured" href="http://www.buson.it/home-it.php"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        Dal 1972 lavora nel settore della meccanica di alta precisione e della carpenteria leggera, supportando il cliente in tutte le esigenze produttive: tornitura, fresatura, saldatura, taglio laser e lavorazione lamiera.
                        {% elsif site.lang == "en" %}
                        Since 1972 our company works in precision mechanics and carpentry branches, helping the client in all his productive needs: turning, milling, welding, laser cutting and metal sheet manufacturing.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/buson.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="elpav" class="image featured" href="http://www.elpav.it/"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        La Elpav Instruments, leader nella distribuzione di strumenti elettronici di misura sviluppa la sua attività in molte direzioni aventi tutte in comune la tecnologia delle misure elettriche ed elettroniche.
                        {% elsif site.lang == "en" %}
                        Elpav Instruments is a leader in customized electronic instruments delivery . It operates in many fields that concerned technology of electric and electronic measurements.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/elpav.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="grimeca" class="image featured" href="http://www.grimeca.com/"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        Azienda leader nel settore motociclistico, per una lunga e consolidata esperienza concretizzata da importanti forniture ai principali costruttori mondiali di moto e scooter.
                        {% elsif site.lang == "en" %}It is a leader company in the motorcycle industry thanks to a long and consolidated experience in many important supplies to the main motorcycles and scooter manufacturers of the world.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/grimeca.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="md" class="image featured" href="https://www.mdpcb.com/"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        Il prodotto di punta è il multistrato, ma producono anche circuiti stampati IMS (Insulated Metal Substrate), mono e doppio strato tradizionali, lamine SMD in acciaio, circuiti per alte frequenze e assemblaggio dei componenti.
                        {% elsif site.lang == "en" %}
                        Its main product is the multilayer but it also produces IMS printed circuits, traditional single-layer and double-layer, SMD steel sheets, high frequency circuits and components assembly.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/md.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="4u">
                <section>
                    <a name="knipex" class="image featured"
                       href="http://www.knipex.com/"><span class="caption">
                        {% if site.lang == "it" %}
                        Knipex è oggi il marchio di pinze leader nel mondo con utilizzatori in oltre 100 Paesi e trend in aumento.
                        {% elsif site.lang == "en" %}
                        Today Knipex is the leader pliers brand in the world. Its users came from over 100 countries and the trend is increasing.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/knipex.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="felmac" class="image featured" href="http://felmac.it"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        Azienda che si occupa di costruzione stampi e lavorazioni meccaniche
                        {% elsif site.lang == "en" %}
                        Felmac deals with the molds construction and mechanical machining
                        {% endif %}
                    </span><img src="/images/sponsors/ed/3/felmac-1k.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="amk" class="image featured" href="https://amk-group.com/en"><span
                            class="caption">
                        {% if site.lang == "it" %}
                      Il Gruppo AMK, una società a conduzione familiare con sede a Kirchheim / Teck, in Germania, è uno dei leader del mercato e della tecnologia nella tecnologia di azionamento elettrico, tecnologia di controllo, ingegneria dell'automazione industriale e aree automobilistiche da oltre cinque decenni.
                        {% elsif site.lang == "en" %}
                      The AMK Group, a family-owned company with headquarters in Kirchheim/Teck, Germany, has been one of the market and technology leaders in the electric drive technology, control technology, industrial automation engineering, and automotive areas for more than five decades. 
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/AMK.png"></a>
                </section>
            </div>
            </div>
        <div class="row" align="center">
                        <div class="4u">
                <section>
                    <a name="kissoft" class="image featured" href="http://www.kisssoft.ch/italiano/home/index.php"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        Kissoft AG sviluppa programmi di calcolo per ingegneri e costruttori per i più diversi settori. Lavora nel campo del sistema di trasmissione e trasmissione per macchine da costruzione o auto di Formula 1. Lavora anche nel settore delle funivie, produzione di ingranaggi in miniatura, ecc.
                        {% elsif site.lang == "en" %}
                        Kissoft AG develops calculation programs for engineers and builders for most different sectors. It works in gearing and transmission system field for construction machines or Formula 1 cars. It also works in cableways sector, miniature gear production, etc.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/E_KISSsoft-claim_blue-blue_rgb_50mm_transp.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="melasta" class="image featured" href="http://www.melasta.com"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        Melasta Corporation è uno dei maggiori produttori e fornitori di batterie ricaricabili. Il successo delle sue batterie ai polimeri di litio, LifePo4, Li-ion e NIMH, ha permesso all’azienda di ritagliarsi un grande spazio all’interno del mercato globale.
                        {% elsif site.lang == "en" %}
                         Melasta Corporation is one of the largest rechargeable batteries producer and providers. Thanks to the success of their lithium polymer batteries (LifePo4, Li-ion and NIMH) Melasta gained a great location inside global market.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/1/melasta-1k.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="microlease" class="image featured" href="https://www.microlease.com/us/home"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        Microlease è l'azienda leader nel settore della strumentazione di test elettronica ed offre soluzioni complete di noleggio, strumenti nuovi e ricondizionati, ed una gestione totale dei beni.
                        {% elsif site.lang == "en" %}
                         Microlease is the leading company in the electronic test instrumentation field and offers complete rental solutions, new and reconditioned instruments, and total asset management.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/3/microlease-1k.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="smartcae" class="image featured" href="https://www.smartcae.com/chi-siamo/"><span
                            class="caption">
                        {% if site.lang == "it" %}
                       Al giorno d’oggi SmartCAE ha svolto oltre 1000 progetti per oltre 150 clienti in Itala e nel Mondo, mettendo a loro disposizione oltre 62 anni-uomo di esperienza nel campo della simulazione e un portafoglio di software di indiscusso valore.
                        {% elsif site.lang == "en" %}
                       Nowadays SmartCAE has carried out over 1000 projects for over 150 clients in Italy and worldwide, providing them with over 62 years of experience in the field of simulation and a software portfolio of undisputed value.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/2/smartcae.png"></a>
                </section>
                </div>
                <div class="4u">
                <section>
                    <a name="ht-instruments" class="image featured"
                       href="https://www.ht-instruments.it/it-it/"><span
                            class="caption">
                        {% if site.lang == "it" %}
                        Azienda nata nel 1983 per la selezione e commercializzazione di apparecchi di verifica, pinze e multimetri. Il 1992 è stato però l’anno della svolta, quando HT si propone di affrontare la sfida più importante: progettare e realizzare i propri strumenti frutto di esperienze e idee acquisite nel corso degli anni. Nel 2001 HT lancia la famiglia GSC, i primi strumenti sul mercato che combinino le verifiche della sicurezza degli impianti con l’analisi mono e trifase della qualità della fornitura del servizio elettrico, che rappresenta ancora oggi una vera icona della strumentazione.
                        {% elsif site.lang == "en" %}
                        HT was born in 1983. At the beginning it marketed inspection equipment, pliers and multimeters. In 1992 HT, thanks to experiences and ideas gained during the years, fixed an important goal: project and realise their own tools. In 2001 the company launch the first tools on the market that checked electrical system security and also did a single-phase and a three-phase quality analysis of the electrical service supplying (GSC family). Today this tools are instrumentation icons.
                        {% endif %}
                    </span><img src="/images/sponsors/ed/1/HT.png"></a>
                </section>
            </div>
            <div class="4u">
                <section>
                    <a name="intergrafica" class="image featured"
                       href="http://www.intergraficavr.com/"><span class="caption">
                        {% if site.lang == "it" %}
                      Da oltre 30 anni, la nostra passione è la sperimentazione di nuove tecniche di stampa e di nuove tipologie di carte speciali, una passione così forte che ci ha permesso di diventare esperti nel seguire e realizzare con successo ogni tipologia di stampato emozionale, dalla fase di pre-stampa fino alla consegna.
                        {% elsif site.lang == "en" %}
                       For over 30 years, our passion is the experimentation of new printing techniques and new types of special papers, a passion so strong that has allowed us to become experts in successfully following and implementing every type of emotional print, from the phase of pre-print up to delivery.
                        {% endif %}
                        </span><img
                            src="/images/sponsors/ed/2/intergraficavr.png"></a>
                </section>
            </div>
             </div>
        <div class="row" align="center">
             <div class="4u">
                <section>
                    <a name="lanulfi" class="image featured"
                       href="http://www.lanulfi.com/en/"><span class="caption">
                        {% if site.lang == "it" %}
                      Founded in 1981 by the brothers Lino and Ferdinando Lanulfi as a model maker, the company Lanulfi has grown over the years thanks to continuous investments in human resources and technology.
                        {% elsif site.lang == "en" %}
                       Founded in 1981 by the brothers Lino and Ferdinando Lanulfi as a model maker, the company Lanulfi has grown over the years thanks to continuous investments in human resources and technology.
                        {% endif %}
                        </span><img
                            src="/images/sponsors/ed/2/lanulfi.png"></a>
                </section>
            </div>
             <div class="4u">
                <section>
                    <a name="renishaw" class="image featured"
                       href="http://www.renishaw.com/en/renishaw-enhancing-efficiency-in-manufacturing-and-healthcare--1030"><span class="caption">
                        {% if site.lang == "it" %}
                      Renishaw
                        {% elsif site.lang == "en" %}
                       Renishaw
                        {% endif %}
                        </span><img
                            src="/images/sponsors/ed/2/renishaw.png"></a>
                </section>
            </div> 
             <div class="4u">
                <section>
                    <a name="gri" class="image featured"
                       href="http://www.gripumps.com/"><span class="caption">
                        {% if site.lang == "it" %}
                      Al servizio del produttore di apparecchiature originali dal 1953, la reputazione e il successo di Gorman-Rupp Industries sono stati costruiti su innovativi design di pompe di fluido, assistenza clienti e fornitura di prodotti per soddisfare le specifiche esatte dei nostri clienti.
                        {% elsif site.lang == "en" %}
                       Serving the Original Equipment Manufacturer since 1953, Gorman-Rupp Industries’ reputation and success have been built on innovative fluid pump designs, customer service, and providing products to meet the exact specifications of our customers.
                        {% endif %}
                        </span><img
                            src="/images/sponsors/ed/2/gri.png"></a>
                </section>
            </div> 
        </div>
    </section>
    <section class="wrapper style3 container">
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="andreoli" class="image featured"
                       href="http://www.andreolisrl.com"><img src="/images/sponsors/ed/3/andreoli-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="zuin" class="image featured" href="http://www.modelleriazuin.it/">
                        <img src="/images/sponsors/ed/3/zuin.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="bender" class="image featured"
                       href="http://www.bender-de.com">
                        <img src="/images/sponsors/ed/3/bender-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="garnet" class="image featured"
                       href="http://garnetitalia.com">
                        <img src="/images/sponsors/ed/3/garnet-1k.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="coroplast" class="image featured"
                       href="http://www.coroplast.de/en/start/">
                        <img src="/images/sponsors/ed/3/coroplast-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="costantini" class="image featured">
                        <img src="/images/sponsors/ed/3/costantini-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="coveme" class="image featured"
                       href="http://www.coveme.com">
                        <img src="/images/sponsors/ed/3/coveme-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="dassault" class="image featured"
                       href="">
                        <img src="/images/sponsors/ed/3/dassault-1k.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="globalinformatica" class="image featured"
                       href="http://globalinformatica.biz/it/home">
                        <img src="/images/sponsors/ed/2/global-informatica.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="textreme" class="image featured"
                       href="http://www.textreme.com/">
                        <img src="/images/sponsors/ed/3/textreme-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="standex-electronics" class="image featured"
                       href="https://standexelectronics.com/">
                        <img src="/images/sponsors/ed/3/meder.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="gigavac" class="image featured"
                       href="http://www.gigavac.com">
                        <img src="/images/sponsors/ed/3/gigavac-1k.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="mathworks" class="image featured"
                       href="https://it.mathworks.com">
                        <img src="/images/sponsors/ed/3/mathworks-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="omega-fusibili" class="image featured"
                       href="http://www.omegafusibili.it">
                        <img src="/images/sponsors/ed/3/omega-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="roehm-italia" class="image featured"
                       href="http://www.roehmitalia.it">
                        <img src="/images/sponsors/ed/3/rohm-italia.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="altair" class="image featured" href="https://www.altair.com/">
                        <img src="/images/sponsors/ed/3/altair.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="bitbucket" class="image featured"
                       href="https://bitbucket.org/">
                    <img src="/images/sponsors/ed/3/bitbucket.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="ext" class="image featured" href="http://www.extremeshox.com/">
                        <img src="/images/sponsors/ed/3/ext.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="fd" class="image featured">
                        <img src="/images/sponsors/ed/3/fd.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="microtex" class="image featured" href="http://www.microtexcomposites.com/">
                        <img src="/images/sponsors/cd/3/microtex.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="unit" class="image featured">
                        <img src="/images/sponsors/ed/3/unit.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="3d-fast" class="image featured" href="http://www.3dfast.it/">
                        <img src="/images/sponsors/ed/3/3d-fast.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="angeloni" class="image featured">
                        <img src="/images/sponsors/ed/3/angeloni.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="anodica" class="image featured" href="http://www.anodicascaligera.com/">
                        <img src="/images/sponsors/ed/3/anodica.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="cd-adapco" class="image featured">
                        <img src="/images/sponsors/ed/3/cd-adapco.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="centroresine" class="image featured">
                        <img src="/images/sponsors/ed/3/centroresine.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="confartigianato" class="image featured" href="https://www.confartigianato.it/">
                        <img src="/images/sponsors/ed/3/confartigianato.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="dissegna" class="image featured">
                        <img src="/images/sponsors/ed/3/dissegna.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="getecno" class="image featured">
                        <img src="/images/sponsors/ed/3/getecno.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="henkel-loctite" class="image featured"
                       href="http://www.loctite.com">
                        <img src="/images/sponsors/cd/2/LocTITE.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="euromeccanica" class="image featured" href="http://www.emeccanica.it/" >
                        <img src="/images/sponsors/ed/1/euromeccanica-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="plan" class="image featured">
                        <img src="/images/sponsors/ed/3/plan.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="sendyne" class="image featured" href="http://www.sendyne.com/">
                        <img src="/images/sponsors/ed/3/sendyne.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="tardivo" class="image featured" href="http://www.modelleriatardivo.it/it/chi-siamo/">
                        <img src="/images/sponsors/ed/3/tardivo.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="tecning" class="image featured">
                        <img src="/images/sponsors/ed/3/tecning.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="tormec" class="image featured" href="http://www.tormec.com/">
                        <img src="/images/sponsors/ed/3/tormec.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="allegri" class="image featured" href="http://www.allegricesare.com/">
                        <img src="/images/sponsors/cd/3/allegri.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="brusegan" class="image featured">
                        <img src="/images/sponsors/ed/2/brusegan-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="cps" class="image featured" href="http://www.cps-conte.it/">
                        <img src="/images/sponsors/ed/3/cps.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="dorfa" class="image featured">
                        <img src="/images/sponsors/ed/1/dorfa-1k.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="elettromeccanica-croce" class="image featured"  href="http://www.croce-elettromeccanica.it/">
                        <img src="/images/sponsors/ed/3/Logo-Elettromeccanica-Croce.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="molex" class="image featured" href="http://www.molex.com" >
                        <img src="/images/sponsors/ed/2/molex-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="tre-m" class="image featured" href="http://www.trem-magazzini.com/" >
                        <img src="/images/sponsors/ed/3/Logo-Nuova-TRE-M.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="okinawa" class="image featured" href="http://www.okinawa.it/" >
                        <img src="/images/sponsors/ed/3/LOGO-OKINAWA.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="ompracing" class="image featured" href="http://www.ompracing.com" >
                        <img src="/images/sponsors/ed/2/omp-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="schaeffler" class="image featured" href="https://www.schaeffler.it" >
                        <img src="/images/sponsors/ed/3/schaffler scritta.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="slim" class="image featured" href="https://www.slimalu.com/home" >
                        <img src="/images/sponsors/ed/3/logo.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="sorma" class="image featured" href="https://www.sorma.net" >
                        <img src="/images/sponsors/ed/2/SORMA.png"></a>
                </section>
            </div>
        </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="tme" class="image featured" href="https://www.ti.com" >
                        <img src="/images/sponsors/ed/2/tme-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="wow" class="image featured" href="https://wowsolution.it/" >
                        <img src="/images/sponsors/cd/3/WOW.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="lucenti-group" class="image featured" href="http://www.lucentigroup.it/" >
                        <img src="/images/sponsors/ed/3/lucenti group.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="meneghini" class="image featured" href="http://www.meneghinieassociati.it/" >
                        <img src="/images/sponsors/ed/3/Logo_M&A.png"></a>
                </section>
            </div>
            </div>
            <div class="row" align="center">
             <div class="3u">
                <section>
                    <a name="ab-meccanica" class="image featured" href="http://www.abmecc.it/" >
                        <img src="/images/sponsors/ed/3/ab-meccanica.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="ascot" class="image featured" href="http://www.ascotsrl.it/" >
                        <img src="/images/sponsors/ed/3/ascot.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="casa-del-radiatore" class="image featured" href="http://www.ascotsrl.it/" >
                        <img src="/images/sponsors/ed/3/casaradiatore.png"></a>
                </section>
            </div>
             <div class="3u">
                <section>
                    <a name="cebora" class="image featured"><img
                            src="/images/sponsors/cd/3/cebora.png"></a>
                </section>
             </div>
             </div>
            <div class="row" align="center">
             <div class="3u">
                <section>
                    <a name="cel" class="image featured" href="https://www.cel.eu/" >
                        <img src="/images/sponsors/ed/3/cel.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="cineca" class="image featured"
                       href="https://www.cineca.it/">
                        <img src="/images/sponsors/cd/3/CINECALOGO2008.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="corazza" class="image featured"
                       href="http://www.corazzasrl.it/index.php?lang=en">
                        <img src="/images/sponsors/ed/3/corazza.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="eas" class="image featured" href="http://www.eas.it/?lang=en" >
                        <img src="/images/sponsors/ed/3/eas.png"></a>
                </section>
            </div>
        </div>
            <div class="row" align="center">
             <div class="3u">
                <section>
                    <a name="giakova" class="image featured" href="http://www.giakova.com/" >
                        <img src="/images/sponsors/ed/3/giakova.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="gaser" class="image featured" href="http://www.gruppogaser.com/" >
                        <img src="/images/sponsors/ed/3/gaser.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="helukabel" class="image featured" href="http://www.helukabel.com/it/home.html">
                       <img src="/images/sponsors/ed/3/helukabel-1k.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="isr" class="image featured" href="http://www.isrbrakes.se/">
                       <img src="/images/sponsors/ed/3/isr.png"></a>
                </section>
            </div>
              </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="italignum" class="image featured" href="https://www.italignum.com/">
                       <img src="/images/sponsors/ed/3/italignum.png"></a>
                </section>
            </div>
              <div class="3u">
                <section>
                    <a name="linkem" class="image featured" href="http://web.linkem.com/">
                       <img src="/images/sponsors/ed/3/linkem.png"></a>
                </section>
            </div>
             <div class="3u">
                <section>
                    <a name="metalb" class="image featured" href="http://www.metalbsrl.it/">
                       <img src="/images/sponsors/ed/3/metalb.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="stal-plast" class="image featured"
                       href="http://www.stal-plast.com"><img
                            src="/images/sponsors/cd/3/stalplast-logo-grande.jpg"></a>
                </section>
            </div>
             </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="riviera" class="image featured"
                       href="https://www.rivierarettifiche.com/"><img
                            src="/images/sponsors/ed/3/riviera.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="rs" class="image featured"
                       href="https://it.rs-online.com/web/"><img
                            src="/images/sponsors/ed/3/rs.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="weller" class="image featured"
                       href="https://www.weller-tools.com/en/Home.html"><img src="/images/sponsors/cd/3/weller.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="phidgets" class="image featured"
                       href="https://www.phidgets.com/"><img src="/images/sponsors/ed/3/phidgets.png"></a>
                </section>
            </div>
                         </div>
        <div class="row" align="center">
            <div class="3u">
                <section>
                    <a name="xsens" class="image featured"
                       href="https://www.xsens.com/"><img src="/images/sponsors/ed/3/xsens.png"></a>
                </section>
            </div>
            <div class="3u">
                <section>
                    <a name="hirose" class="image featured"
                       href="https://www.hirose.com/"><img src="/images/sponsors/ed/3/hrs.png"></a>
                </section>
                </div>
            <div class="3u">
                <section>
                    <a name="tricolor" class="image featured"
                       href="http://www.tricolor.vi.it/"><img src="/images/sponsors/ed/3/tricolor.png"></a>
                </section>
                 </div>
            <div class="3u">
                <section>
                    <a name="alticolor" class="image featured"
                       href="https://www.alticolor.com/it"><img src="/images/sponsors/ed/3/alticolor.png"></a>
                </section>
            </div>
        </div>
    </section>
</article>