<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include header.html %}

    <div id="logo-header">
    	<nav>
		    <ul>
		    	<li class="image little"><img src="/images/logos/unipd.png"></li>
		        <li class="image little"><img src="/images/logos/raceup.png"  height="4em"></li>
		        <li class="image little"><img src="/images/logos/oz.png"></li>
		    </ul>
		</nav>
    </div>

    {% include banner.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
